openapi: 3.0.3
info:
  title: SSI EIDAS Bridge API
  description: |
    SSI eIDAS Bridge API is a component linking the European
    Trust and Legal Framework, named eIDAS (electronic IDentification,
    Authentication and trust Services), with the Self-Sovereign Identification
    (SSI) global trust framework, based on Decentralized Identifiers, or DIDs.
  version: 1.0.0
  termsOfService: "/docs/terms"
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.vidchain.net
    description: Validated ID API 
  - url: https://dev.vidchain.net
    description: Validated ID API Dev
  - url: http://localhost:9002
    description: localhost
tags:
  - name: Authentication Service
    description: Manage Entities Authentication
  - name: SSI EIDAS Bridge
    description: Sign and validate EIDAS signatures
paths:
  /eidas-bridge/v1/authentication/requests:
    post:
      operationId: post-eidas-bridge-v1-authentication-requests
      tags:
        - Authentication Service
      summary: Initiate a DID Authentication Request
      description: Initiate a DID Authentication Request
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionsRequest"
            examples:
              User Session Request:
                value:
                  grantType: urn:ietf:params:oauth:grant-type:jwt-bearer
                  assertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: eidas profile user
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresIn: 900
                    issuedAt: "1467841035013"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/authentication/request-jwts:
    get:
      operationId: post-eidas-bridge-v1-authentication-request-jwts
      tags:
        - Authentication Service
      summary: Retrieves a JWT token Authentication Request
      description: Retrieves a JWT token Authentication Request
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionsRequest"
            examples:
              User Session Request:
                value:
                  grantType: urn:ietf:params:oauth:grant-type:jwt-bearer
                  assertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: eidas profile user
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresIn: 900
                    issuedAt: "1467841035013"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/authentication/sessions:
    post:
      operationId: post-eidas-bridge-v1-authentication-sessions
      tags:
        - Authentication Service
      summary: Requests a Sessions Token
      description: | 
       Requests a Sessions Token to call the protected API calls. 
       This call requires to send an Authentication Response Token after
       calling the Authentication Request endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionsRequest"
            examples:
              User Session Request:
                value:
                  grantType: urn:ietf:params:oauth:grant-type:jwt-bearer
                  assertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: eidas profile user
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresIn: 900
                    issuedAt: "1467841035013"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/signatures:
    post:
      tags:
        - SSI EIDAS Bridge
      summary: Creates an eIDAS eSeal signature
      description: Creates an eIDAS eSeal signature using the associated EIDAS keys with a DID
      operationId: post-eidas-bridge-v1-signatures
      security:
        - bearerAuth: []
      requestBody:
        description: Request to sign a credential or a verifiable credential payload with DID's EIDAS associated keys. It requires providing the DID of the issuer, the payload to sign, the signature type and password to decode P12 file.
        content:
          application/json:
            schema: 
              $ref: "#/components/schemas/SignatureInput"
            examples:
              eSeal a Credential Payload:
                value:
                  issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                  payload:
                    "@context":
                      - "https://www.w3.org/2018/credentials/v1"
                      - "https://www.w3.org/2018/credentials/examples/v1"
                    id: "http://example.edu/credentials/1872"
                    type:
                      - VerifiableCredential
                      - VerifiableID
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    issuanceDate: "2019-12-31T23:59:60Z"
                    credentialSubject:
                      id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                      firstName: "Eva"
                      lastName: "Monroe"
                      gender: "Female"
                      dateOfBirth: "12/11/1970"
                      placeOfBirth: "Madrid"
                      currentAddress: "Arago 179 4a"
                      city: "Barcelona"
                      state: "Catalunya"
                      zip: "08011"
                  type: CAdESRSASignature2020
                  password: vidchain
              eSeal a Verifiable Credential Payload:
                value:
                  issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                  payload:
                    "@context":
                      - "https://www.w3.org/2018/credentials/v1"
                      - "https://www.w3.org/2018/credentials/examples/v1"
                    id: "http://example.edu/credentials/1872"
                    type:
                      - VerifiableCredential
                      - VerifiableID
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    issuanceDate: "2019-12-31T23:59:60Z"
                    credentialSubject:
                      id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                      firstName: "Eva"
                      lastName: "Monroe"
                      gender: "Female"
                      dateOfBirth: "12/11/1970"
                      placeOfBirth: "Madrid"
                      currentAddress: "Arago 179 4a"
                      city: "Barcelona"
                      state: "Catalunya"
                      zip: "08011"
                    proof:
                      type: EcdsaSecp256k1Signature2019
                      created: "2019-06-18T21:19:10Z"
                      proofPurpose: assertionMethod
                      verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
                      jws: eyJhbGciOiJSUzI1NiIsImI2NCI6ZmFsc2Us...
                  type: CAdESRSASignature2020
                  password: vidchain
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verifiableCredentialEsealed"
              examples:
                One Proof EIDAS Signature:
                  value:
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    vc:
                      "@context":
                        - "https://www.w3.org/2018/credentials/v1"
                        - "https://api.vidchain.net/credentials/verifiableId/v1"
                      id: http://example.vid/credentials/1872
                      type: ['VerifiableCredential','VerifiableID']
                      issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                      issuanceDate: "2019-06-22T14:11:44Z"
                      expirationDate: "2019-06-22T14:11:44Z"
                      credentialSubject: 
                        id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                        firstName: "Eva"
                        lastName: "Monroe"
                        gender: "Female"
                        dateOfBirth: "12/11/1970"
                        placeOfBirth: "Madrid"
                        currentAddress: "Arago 179 4a"
                        city: "Barcelona"
                        state: "Catalunya"
                        zip: "08011"
                      proof:
                        type: "CAdESRSASignature2020"
                        created: "2020-06-22T14:11:44Z"
                        proofPurpose: "assertionMethod"
                        verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
                        cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
                Mutiple Proofs EIDAS Signature:
                  value:
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    vc:
                      "@context":
                        - "https://www.w3.org/2018/credentials/v1"
                        - "https://api.vidchain.net/credentials/verifiableId/v1"
                      id: http://example.vid/credentials/1872
                      type: ['VerifiableCredential','VerifiableID']
                      issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                      issuanceDate: "2019-06-22T14:11:44Z"
                      expirationDate: "2019-06-22T14:11:44Z"
                      credentialSubject: 
                          id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                          firstName: "Eva"
                          lastName: "Monroe"
                          gender: "Female"
                          dateOfBirth: "12/11/1970"
                          placeOfBirth: "Madrid"
                          currentAddress: "Arago 179 4a"
                          city: "Barcelona"
                          state: "Catalunya"
                          zip: "08011"
                      proof: 
                        - type: "EcdsaSecp256k1Signature2019"
                          created: "2019-06-22T14:11:44Z"
                          proofPurpose: "assertionMethod"
                          verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
                          jws: "eyJhbGciOiJFU...pKTV3co3wXAE"
                        - type: "CAdESRSASignature2020"
                          created: "2020-06-22T14:11:44Z"
                          proofPurpose: "assertionMethod"
                          verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
                          cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Unauthorized:
                  $ref: "#/components/examples/Unauthorized"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Forbidden:
                  $ref: "#/components/examples/Forbidden"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/signature-validations:
    post:
      tags:
        - SSI EIDAS Bridge
      summary: Validates a W3C Verifiable Credential eSealed with an EIDAS QEC
      description: Validates a W3C Verifiable Credential eSealed with an EIDAS QEC
      operationId: post-eidas-bridge-v1-signature-validations
      requestBody:
        description: W3C Verifiable Credential with an Ades Proof
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/verifiableCred"
            examples:
              One Proof EIDAS Signature:
                value:
                  "@context":
                    - "https://www.w3.org/2018/credentials/v1"
                    - "https://api.vidchain.net/credentials/verifiableId/v1"
                  id: http://example.vid/credentials/1872
                  type: ['VerifiableCredential','VerifiableID']
                  issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                  issuanceDate: "2019-12-31T23:59:60Z"
                  credentialSubject: 
                      id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                      firstName: "Eva"
                      lastName: "Monroe"
                      gender: "Female"
                      dateOfBirth: "12/11/1970"
                      placeOfBirth: "Madrid"
                      currentAddress: "Arago 179 4a"
                      city: "Barcelona"
                      state: "Catalunya"
                      zip: "08011"
                  proof:
                    type: "CAdESRSASignature2020"
                    created: "2020-12-18T09:23:42Z"
                    proofPurpose: "assertionMethod"
                    verificationMethod: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
                    cades: "-----BEGIN PKCS7-----MIINPQYJKoZIhvcNAQcCoIINLjCCDSoCAQExDzANBglghkgBZQMEAgEFADCCAnQGCSqGSIb3DQEHAaCCAmUEggJhPGh0dHA6Ly9leGFtcGxlLmVkdS9jcmVkZW50aWFscy8xODcyPiA8aHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zI3R5cGU+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNWZXJpZmlhYmxlQ3JlZGVudGlhbD4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNjcmVkZW50aWFsU3ViamVjdD4gPGRpZDprZXk6elEzc2h0eFYxRnJKZmhxRTFkdnhZUmNDa25XTmpIYzNjNVgxeTNaU29QRGkyYXVyMj4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1YW5jZURhdGU+ICIyMDE5LTEyLTMxVDIzOjU5OjYwWiJeXjxodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSNkYXRlVGltZT4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1ZXI+IDxkaWQ6a2V5OnpRM3NodHhWMUZySmZocUUxZHZ4WVJjQ2tuV05qSGMzYzVYMXkzWlNvUERpMmF1cjI+IC4KoIIGNTCCBjEwggQZoAMCAQICFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUAMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20wHhcNMjAxMjAzMDYxMzQ4WhcNMzAxMjAxMDYxMzQ4WjCBpzELMAkGA1UEBhMCRVMxEjAQBgNVBAgMCUNhdGFsb25pYTESMBAGA1UEBwwJQmFyY2Vsb25hMRgwFgYDVQQKDA9WYWxpZGF0ZWQgSWQgc2wxETAPBgNVBAsMCFZJRGNoYWluMRUwEwYDVQQDDAxWYWxpZGF0ZWQgSWQxLDAqBgkqhkiG9w0BCQEWHXZpZGNoYWluK3Rlc3RAdmFsaWRhdGVkaWQuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAaNTMFEwHQYDVR0OBBYEFOUuNQAAhnD9b418276AegK/uyoMMB8GA1UdIwQYMBaAFOUuNQAAhnD9b418276AegK/uyoMMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAAtzPplHYO+MsQaGS3VA7q+y+0jU8a6K8yoMRmiKRzRSVg7SFr6amIZk5mHcr19hk7Y+AaoHgM4oQDJfMysILcXxXN3JxS7Fki6NCooQuhY7ygf0Wm3+4cqey1HrBvG9PuCc5VVZvsrsUYqBY1uQ3txjPjEbrpa928PFVtzZp1Y82sy9heG0Qwr+GOCxgT90N+ffDrbtwTFW2h98nvRduAQMXHbo2jzwjpdmL3U9IRPtP5CHfWjJ3wTxRSyh0vaeVZuKHmW3exrf6SYjfy1pYAMRkNB+BnKbLUiVR4pvwy79ljppL7XlCz4SYIwa6TTdb4l/JZzMH2mlknQxbFWTjfGad0vtGd/oLH2nYRqCujxce9ejMukTVpTL1kC1bvkVs9GTz17ZcufH4JejDDr/6tS3hTMIUNBZKWrVqLzh8trnRwN92K5Z5+yNxHrDFx7Hn5fJQp3FuAWBJAdYoeerp18CeexGoNevfr3UQKqUNqYR8enpudUpyVVO4sOwekA4h/qGRGGJaVRPuupRYD8szfw3nYqgguEpxMPAQGCXbTgAcVUhOUCk9NqLF3iXybdKFOXWE9sdqixmKnMFXRUtL6xzAIw7YQ04GpVwobivvmZBZjlvol+c/Cg6D+Chb7P3AJF8x7Of471juK+im2SBwYvcnWs0AnJkjOd83nzjCdVHMYIEYTCCBF0CAQEwgcAwgacxCzAJBgNVBAYTAkVTMRIwEAYDVQQIDAlDYXRhbG9uaWExEjAQBgNVBAcMCUJhcmNlbG9uYTEYMBYGA1UECgwPVmFsaWRhdGVkIElkIHNsMREwDwYDVQQLDAhWSURjaGFpbjEVMBMGA1UEAwwMVmFsaWRhdGVkIElkMSwwKgYJKoZIhvcNAQkBFh12aWRjaGFpbit0ZXN0QHZhbGlkYXRlZGlkLmNvbQIUHL2U6P+dN5QPxlTduaSSySuCQ+wwDQYJYIZIAWUDBAIBBQCgggFxMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIxMDEwODEwNTAzNVowLwYJKoZIhvcNAQkEMSIEIAnjsXeClcSWeziAaWGDp46XCY2w4+WdgkLxjF09bBA4MIIBBAYLKoZIhvcNAQkQAi8xgfQwgfEwge4wgesEIFPO2Z0V8JXOxQZB9V2ckfMV7KWEER8/NJ/uV/0+oq+IMIHGMIGtpIGqMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20CFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUABIICAE3SZDHmk2KzYdAiSk47SGB+QuVYO6Seq0z/yyJ97HGwHCLJ6v/60g29U6VIClyzu35kOaVxhy5JE2GPUSR/PLyM73gmkMSL9Syj0ZP+g5K9rwMTb52Y6JGoBVTEC/8SJwUA3Pi1HvdQxpDT+XNO3N01jrQcbctgliuwZ9cY5l2qt2lcOij3WAFNXB8iPamL+xcZRlaPsi5hSNc+BprmAsP5jBnR7HiNpQDemIge+fVVTLnSMEKEJFaVqCAVzozQ8X0sY0tGzLYbknq5s6/LzfxS+PJR4zOjwKte42h03ehiVjiNOZvVGR19wAjeZ3zYDE32zVLleN1Jw0zqA/qUH1L3FXvJ/TSps41AwfK8OfJD0CoEUhJmR5k+0Y8xMtSbMSJh753VbbWfzdtA5MW4dkZ81OBJI2exUYcDsDOQDuERRYPM+wrJT4DQY3igNZY1jMeGMH6Rm+5QJo4CWK9z2Ih0wPOhVLVK74Iejsx97cQ6CNKQOKX3wpbZnnPyjeY6xLSWHZxT0fHtsvh1AVLjbqEb2qzUFSImeL+PmvFHHZxKSDMAHZ/6n2J1OJTpzjwegcsbYYIAk78pGcbYwNY734AXe6nfCuuK43M2sOM603mG2vOZm+EjLxt54y1C2fDeHoTCITZupWl1WEz0ppiuBR2qffjgrKcwnggFGr8Mnhpf-----END PKCS7-----"
              Mutiple Proofs EIDAS Signature:
                value:
                  "@context":
                    - "https://www.w3.org/2018/credentials/v1"
                    - "https://api.vidchain.net/credentials/verifiableId/v1"
                  id: http://example.vid/credentials/1872
                  type: ['VerifiableCredential','VerifiableID']
                  issuer: zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                  issuanceDate: "2019-06-22T14:11:44Z"
                  expirationDate: "2019-06-22T14:11:44Z"
                  credentialSubject: 
                    id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                    firstName: "Eva"
                    lastName: "Monroe"
                    gender: "Female"
                    dateOfBirth: "12/11/1970"
                    placeOfBirth: "Madrid"
                    currentAddress: "Arago 179 4a"
                    city: "Barcelona"
                    state: "Catalunya"
                    zip: "08011"
                  proof:
                    - type: "EcdsaSecp256k1Signature2019"
                      created: "2019-06-22T14:11:44Z"
                      proofPurpose: "assertionMethod"
                      verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
                      jws: "eyJhbGciOiJFU...pKTV3co3wXAE"
                    - type: "CAdESRSASignature2020"
                      created: "2020-06-22T14:11:44Z"
                      proofPurpose: "assertionMethod"
                      verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
                      cades: "-----BEGIN PKCS7-----MIINPQYJKoZIhvcNAQcCoIINLjCCDSoCAQExDzANBglghkgBZQMEAgEFADCCAnQGCSqGSIb3DQEHAaCCAmUEggJhPGh0dHA6Ly9leGFtcGxlLmVkdS9jcmVkZW50aWFscy8xODcyPiA8aHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zI3R5cGU+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNWZXJpZmlhYmxlQ3JlZGVudGlhbD4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNjcmVkZW50aWFsU3ViamVjdD4gPGRpZDprZXk6elEzc2h0eFYxRnJKZmhxRTFkdnhZUmNDa25XTmpIYzNjNVgxeTNaU29QRGkyYXVyMj4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1YW5jZURhdGU+ICIyMDE5LTEyLTMxVDIzOjU5OjYwWiJeXjxodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSNkYXRlVGltZT4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1ZXI+IDxkaWQ6a2V5OnpRM3NodHhWMUZySmZocUUxZHZ4WVJjQ2tuV05qSGMzYzVYMXkzWlNvUERpMmF1cjI+IC4KoIIGNTCCBjEwggQZoAMCAQICFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUAMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20wHhcNMjAxMjAzMDYxMzQ4WhcNMzAxMjAxMDYxMzQ4WjCBpzELMAkGA1UEBhMCRVMxEjAQBgNVBAgMCUNhdGFsb25pYTESMBAGA1UEBwwJQmFyY2Vsb25hMRgwFgYDVQQKDA9WYWxpZGF0ZWQgSWQgc2wxETAPBgNVBAsMCFZJRGNoYWluMRUwEwYDVQQDDAxWYWxpZGF0ZWQgSWQxLDAqBgkqhkiG9w0BCQEWHXZpZGNoYWluK3Rlc3RAdmFsaWRhdGVkaWQuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAaNTMFEwHQYDVR0OBBYEFOUuNQAAhnD9b418276AegK/uyoMMB8GA1UdIwQYMBaAFOUuNQAAhnD9b418276AegK/uyoMMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAAtzPplHYO+MsQaGS3VA7q+y+0jU8a6K8yoMRmiKRzRSVg7SFr6amIZk5mHcr19hk7Y+AaoHgM4oQDJfMysILcXxXN3JxS7Fki6NCooQuhY7ygf0Wm3+4cqey1HrBvG9PuCc5VVZvsrsUYqBY1uQ3txjPjEbrpa928PFVtzZp1Y82sy9heG0Qwr+GOCxgT90N+ffDrbtwTFW2h98nvRduAQMXHbo2jzwjpdmL3U9IRPtP5CHfWjJ3wTxRSyh0vaeVZuKHmW3exrf6SYjfy1pYAMRkNB+BnKbLUiVR4pvwy79ljppL7XlCz4SYIwa6TTdb4l/JZzMH2mlknQxbFWTjfGad0vtGd/oLH2nYRqCujxce9ejMukTVpTL1kC1bvkVs9GTz17ZcufH4JejDDr/6tS3hTMIUNBZKWrVqLzh8trnRwN92K5Z5+yNxHrDFx7Hn5fJQp3FuAWBJAdYoeerp18CeexGoNevfr3UQKqUNqYR8enpudUpyVVO4sOwekA4h/qGRGGJaVRPuupRYD8szfw3nYqgguEpxMPAQGCXbTgAcVUhOUCk9NqLF3iXybdKFOXWE9sdqixmKnMFXRUtL6xzAIw7YQ04GpVwobivvmZBZjlvol+c/Cg6D+Chb7P3AJF8x7Of471juK+im2SBwYvcnWs0AnJkjOd83nzjCdVHMYIEYTCCBF0CAQEwgcAwgacxCzAJBgNVBAYTAkVTMRIwEAYDVQQIDAlDYXRhbG9uaWExEjAQBgNVBAcMCUJhcmNlbG9uYTEYMBYGA1UECgwPVmFsaWRhdGVkIElkIHNsMREwDwYDVQQLDAhWSURjaGFpbjEVMBMGA1UEAwwMVmFsaWRhdGVkIElkMSwwKgYJKoZIhvcNAQkBFh12aWRjaGFpbit0ZXN0QHZhbGlkYXRlZGlkLmNvbQIUHL2U6P+dN5QPxlTduaSSySuCQ+wwDQYJYIZIAWUDBAIBBQCgggFxMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIxMDEwODEwNTAzNVowLwYJKoZIhvcNAQkEMSIEIAnjsXeClcSWeziAaWGDp46XCY2w4+WdgkLxjF09bBA4MIIBBAYLKoZIhvcNAQkQAi8xgfQwgfEwge4wgesEIFPO2Z0V8JXOxQZB9V2ckfMV7KWEER8/NJ/uV/0+oq+IMIHGMIGtpIGqMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20CFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUABIICAE3SZDHmk2KzYdAiSk47SGB+QuVYO6Seq0z/yyJ97HGwHCLJ6v/60g29U6VIClyzu35kOaVxhy5JE2GPUSR/PLyM73gmkMSL9Syj0ZP+g5K9rwMTb52Y6JGoBVTEC/8SJwUA3Pi1HvdQxpDT+XNO3N01jrQcbctgliuwZ9cY5l2qt2lcOij3WAFNXB8iPamL+xcZRlaPsi5hSNc+BprmAsP5jBnR7HiNpQDemIge+fVVTLnSMEKEJFaVqCAVzozQ8X0sY0tGzLYbknq5s6/LzfxS+PJR4zOjwKte42h03ehiVjiNOZvVGR19wAjeZ3zYDE32zVLleN1Jw0zqA/qUH1L3FXvJ/TSps41AwfK8OfJD0CoEUhJmR5k+0Y8xMtSbMSJh753VbbWfzdtA5MW4dkZ81OBJI2exUYcDsDOQDuERRYPM+wrJT4DQY3igNZY1jMeGMH6Rm+5QJo4CWK9z2Ih0wPOhVLVK74Iejsx97cQ6CNKQOKX3wpbZnnPyjeY6xLSWHZxT0fHtsvh1AVLjbqEb2qzUFSImeL+PmvFHHZxKSDMAHZ/6n2J1OJTpzjwegcsbYYIAk78pGcbYwNY734AXe6nfCuuK43M2sOM603mG2vOZm+EjLxt54y1C2fDeHoTCITZupWl1WEz0ppiuBR2qffjgrKcwnggFGr8Mnhpf-----END PKCS7-----"
        required: true
      responses:
        "204":
          description: Valid
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Unauthorized:
                  $ref: "#/components/examples/Unauthorized"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Forbidden:
                  $ref: "#/components/examples/Forbidden"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/eidas-keys/{id}:
    put:
      tags:
        - SSI EIDAS Bridge
      summary: Set up a DID with an eIDAS QEC to eSeal W3C Verifiable Credentials
      description: Set up a DID with an eIDAS QEC to eSeal W3C Verifiable Credentials
      operationId: put-eidas-bridge-v1-eidas-keys
      security:
        - bearerAuth: []
      requestBody:
        description: Set-up options for linking a DID with its eIDAS QEC
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EidasQecInput"
            examples: 
              EIDAS QEC Example:
                value:
                  did: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                  p12: <buffer-input-of-your-certificate>
                  keyType: RSA
        required: true
      responses:
        "201":
          description: Keys stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EidasQecResponse"
        "200":
          description: Keys updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EidasQecResponse"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Unauthorized:
                  $ref: "#/components/examples/Unauthorized"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Forbidden:
                  $ref: "#/components/examples/Forbidden"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
      parameters:
        - name: id
          in: path
          schema:
            type: string
          examples: 
            Basic DID:
              summary: a DID
              value: "did:key:zQ3shokFTS3brHcDQrn82RUDfCZESWL1ZdCEJwekUDPQiYBme"
          required: true
          description: DID to identify eIDAS keys associated with it
          allowEmptyValue: false
components:
  schemas:
    Proof:
      description: |
        One or more cryptographic proofs that can be used to detect tampering
        and verify the authorship of a credential or presentation.
      type: object
      properties:
        type:
          description: Type of signature
          type: string
          example: EcdsaSecp256k1Signature2019
        created:
          description: Creation time
          type: string
          example: "2019-06-22T14:11:44Z"
        proofPurpose:
          description: Purpose of the proof
          type: string
          example: assertionMethod
        verificationMethod:
          description: Verification method
          type: string
          example: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        jws:
          description: JSON Web Signature
          type: string
          example: eyJ...Wuc
      additionalProperties: true
      required: 
        - type
        - created
        - proofPurpose
        - verificationMethod
        - jws
      example:
        type: EcdsaSecp256k1Signature2019
        created: "2019-06-18T21:19:10Z"
        proofPurpose: assertionMethod
        verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
        jws: eyJhbGciOiJSUzI1NiIsImI2NCI6ZmFsc2Us...
    AdesProof:
      description: |
        Ades Proof using an EIDAS QEC and signing with CADES and RSA keys.
      type: object
      properties:
        type:
          description: Type of signature
          type: string
          example: CAdESRSASignature2020
        created:
          description: Creation time
          type: string
          example: "2019-06-22T14:11:44Z"
        proofPurpose:
          description: Purpose of the proof
          type: string
          example: assertionMethod
        verificationMethod:
          description: EIDAS Certificate from QEC
          type: string
          example: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        cades:
          description: CADES Signature in hexadecimal format
          type: string
          example: 308204c906092a864886f70d010702...266ad9fee3375d8095
      additionalProperties: true
      required: 
        - type
        - created
        - proofPurpose
        - verificationMethod
        - cades
      example:
        type: "CAdESRSASignature2020"
        created: "2020-06-22T14:11:44Z"
        proofPurpose: "assertionMethod"
        verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
    GlobalProof:
      description: |
        General Proof type to admit either AdesProof or Secp256k1 proof
      type: object
      properties:
        type:
          description: Type of signature
          type: string
          example: EcdsaSecp256k1Signature2019
        created:
          description: Creation time
          type: string
          example: "2019-06-22T14:11:44Z"
        proofPurpose:
          description: Purpose of the proof
          type: string
          example: assertionMethod
        verificationMethod:
          description: Verification method
          type: string
          example: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        jws:
          description: JSON Web Signature
          type: string
          example: eyJ...Wuc
        cades:
          description: CADES Signature in hexadecimal format
          type: string
      additionalProperties: true
      required: 
        - type
        - created
        - proofPurpose
        - verificationMethod
      example:
        type: "CAdESRSASignature2020"
        created: "2020-06-22T14:11:44Z"
        proofPurpose: "assertionMethod"
        verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
    verifiableCredentialEsealed:
      type: object
      title: Signature Response
      properties:
        issuer:
          description: "A URI or an object containing an id property. Example: DID of the verifiable credential/presentation issuer."
          oneOf:
            - type: string
              description: DID of the verifiable credential/presentation issuer.
              format: uri
              example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            - type: object
              description: Object containing an id property to identify the issuer.
              properties:
                id:
                  type: string
                  description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
                  format: uri
                  example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        vc:
          type: object
          description: newly created verifiable credential.
          properties:
            id:
              type: string
              example: "https://example.edu/credentials/1872"
              description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
              format: uri
            "@context":
              description: "An ordered set where the first item is a URI https://www.w3.org/2018/credentials/v1. It is used to define terms and help to express specific identifiers in a compact manner."
              items:
                type: string
              uniqueItems: true
              example:
                - "https://www.w3.org/2018/credentials/v1"
              type: array
            type:
              type: array
              description: Type of the object or the datatype of the typed value.
              example:
                - VerifiableCredential
                - UniversityDegreeCredential
              items:
                type: string
            issuer:
              description: "A URI or an object containing an id property. Example: DID of the verifiable credential/presentation issuer."
              oneOf:
                - type: string
                  description: DID of the verifiable credential/presentation issuer.
                  format: uri
                  example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                - type: object
                  description: Object containing an id property to identify the issuer.
                  properties:
                    id:
                      type: string
                      description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
                      format: uri
                      example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            credentialSubject:
              description: A set of objects that contain one or more properties that are each related to the subject of the credential.
              type: object
              oneOf:
                - $ref: "#/components/schemas/subject"
                - type: array
                  uniqueItems: true
                  items:
                    $ref: "#/components/schemas/subject"
            issuanceDate:
              type: string
              description: Date and time at which the information associated with the verifiable credential/presentation becomes valid.
              format: date-time
              example: "2010-01-01T19:23:24Z"
            expirationDate:
              type: string
              format: date-time
              example: "2020-01-01T19:23:24Z"
              description: Date and time at which a credential/presentation ceases to be valid.
            proof:
              type: object
              oneOf:
                - $ref: "#/components/schemas/AdesProof"
                - type: array
                  uniqueItems: true
                  items:
                    $ref: "#/components/schemas/GlobalProof"
      example:
        issuer: did:key:zQ3shokFTS3brHcDQrn82RUDfCZESWL1ZdCEJwekUDPQiYBme
        vc:
          "@context":
          - "https://www.w3.org/2018/credentials/v1"
          - "https://api.vidchain.net/credentials/verifiableId/v1"
          id: "http://example.gov/credentials/3732"
          type: "['VerifiableCredential','VerifiableID']"
          issuer: did:key:zQ3shokFTS3brHcDQrn82RUDfCZESWL1ZdCEJwekUDPQiYBme
          issuanceDate: "2019-06-22T14:11:44Z"
          expirationDate: "2019-06-22T14:11:44Z"
          credentialSubject: 
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            firstName: "Eva"
            lastName: "Monroe"
            gender: "Female"
            dateOfBirth: "12/11/1970"
            placeOfBirth: "Madrid"
            currentAddress: "Arago 179 4a"
            city: "Barcelona"
            state: "Catalunya"
            zip: "08011"
          proof:
            type: "CAdESRSASignature2020"
            created: "2020-06-22T14:11:44Z"
            proofPurpose: "assertionMethod"
            verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
            cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
      required:
        - issuer
        - vc
    verifiableCred:
      type: object
      description: Verifiable Credential Data Model
      example:
        simple verifiable credential:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
          proof:
            type: EcdsaSecp256k1Signature2019
            created: "2019-06-18T21:19:10Z"
            proofPurpose: assertionMethod
            verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
            jws: eyJhbGciOiJSUzI1NiIsImI2NCI6ZmFsc2Us...
        verifiable credential with ades proof:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
          proof:
            type: "CAdESRSASignature2020"
            created: "2020-06-22T14:11:44Z"
            proofPurpose: "assertionMethod"
            verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
            cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
        verifiable credential with multiple proofs:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
          proof:
            - type: "EcdsaSecp256k1Signature2019"
              created: "2019-06-22T14:11:44Z"
              proofPurpose: "assertionMethod"
              verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
              jws: "eyJhbGciOiJFU...pKTV3co3wXAE"
            - type: "CAdESRSASignature2020"
              created: "2020-06-22T14:11:44Z"
              proofPurpose: "assertionMethod"
              verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
              cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
      title: Verifiable Credential
      properties:
        id:
          type: string
          example: "https://example.edu/credentials/1872"
          description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
          format: uri
        "@context":
          description: "An ordered set where the first item is a URI https://www.w3.org/2018/credentials/v1. It is used to define terms and help to express specific identifiers in a compact manner."
          items:
            type: string
          uniqueItems: true
          example:
            - "https://www.w3.org/2018/credentials/v1"
          type: array
        type:
          type: array
          description: Type of the object or the datatype of the typed value.
          example:
            - VerifiableCredential
            - UniversityDegreeCredential
          items:
            type: string
        credentialSubject:
          description: A set of objects that contain one or more properties that are each related to the subject of the credential.
          type: object
          oneOf:
            - $ref: "#/components/schemas/subject"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/subject"
        issuer:
          description: "A URI or an object containing an id property. Example: DID of the verifiable credential/presentation issuer."
          oneOf:
            - type: string
              description: DID of the verifiable credential/presentation issuer.
              format: uri
              example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            - type: object
              description: Object containing an id property to identify the issuer.
              properties:
                id:
                  type: string
                  description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
                  format: uri
                  example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        issuanceDate:
          type: string
          description: Date and time at which the information associated with the verifiable credential/presentation becomes valid.
          format: date-time
          example: "2010-01-01T19:23:24Z"
        expirationDate:
          type: string
          format: date-time
          example: "2020-01-01T19:23:24Z"
          description: Date and time at which a credential/presentation ceases to be valid.
        proof:
          type: object
          additionalProperties: true
          oneOf:
            - $ref: "#/components/schemas/Proof"
            - $ref: "#/components/schemas/AdesProof"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/GlobalProof"
      required:
        - "@context"
        - type
        - proof
    subject:
      title: Subject
      type: object
      description: A thing about which claims are made
      properties:
        id:
          type: string
          description: "Object MAY contain an id"
          example: "did:example:ebfeb1f712ebc6f1c276e12ec21"
      additionalProperties: true
      example:
        Diploma:
          id: "did:example:ebfeb1f712ebc6f1c276e12ec21"
          degree:
            type: BachelorDegree
            name: Bachelor of Science and Arts
        Affiliation:
          id: "did:example:c276e12ec21ebfeb1f712ebc6f1"
          name: Morgan Doe
          spouse: "did:example:ebfeb1f712ebc6f1c276e12ec21"
        ESSIF eID:
          id: "did:vid:evas-did"
          personIdentifier: BE/BE/02635542Y
          currentFamilyName: Eva
          currentGivenName: Adams
          birthName: Eva
          dateOfBirth: "1998-02-14"
          placeOfBirth: Brussels
          currentAddress: "44, rue de Fame"
          gender: Female
    credential:
      type: object
      description: Credential Data Model without Proof
      example:
        simple credential payload:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
      title: Credential
      properties:
        id:
          type: string
          example: "https://example.edu/credentials/1872"
          description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
          format: uri
        "@context":
          description: "An ordered set where the first item is a URI https://www.w3.org/2018/credentials/v1. It is used to define terms and help to express specific identifiers in a compact manner."
          items:
            type: string
          uniqueItems: true
          example:
            - "https://www.w3.org/2018/credentials/v1"
          type: array
        type:
          type: array
          description: Type of the object or the datatype of the typed value.
          example:
            - VerifiableCredential
            - UniversityDegreeCredential
          items:
            type: string
        credentialSubject:
          description: A set of objects that contain one or more properties that are each related to the subject of the credential.
          type: object
          oneOf:
            - $ref: "#/components/schemas/subject"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/subject"
        issuer:
          description: "A URI or an object containing an id property. Example: DID of the verifiable credential/presentation issuer."
          oneOf:
            - type: string
              description: DID of the verifiable credential/presentation issuer.
              format: uri
              example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            - type: object
              description: Object containing an id property to identify the issuer.
              properties:
                id:
                  type: string
                  description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
                  format: uri
                  example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        issuanceDate:
          type: string
          description: Date and time at which the information associated with the verifiable credential/presentation becomes valid.
          format: date-time
          example: "2010-01-01T19:23:24Z"
        expirationDate:
          type: string
          format: date-time
          example: "2020-01-01T19:23:24Z"
          description: Date and time at which a credential/presentation ceases to be valid.
      additionalProperties: true
      required:
        - "@context"
        - type
    SignatureInput:
      title: Signature EIDAS Input
      type: object
      description: Input data to eSeal a given Credential or Verifiable Credential
      properties:
        issuer:
          description: DID of the Issuer
          type: string
          example: did:key:zQ3shokFTS3brHcDQrn82RUDfCZESWL1ZdCEJwekUDPQiYBme
        payload:
          description: W3C Verifiable Credential or Credential (without Proof) to eSeal
          type: object
          oneOf:
            - $ref: "#/components/schemas/credential"
            - $ref: "#/components/schemas/verifiableCred"
        type:
          description: signature type currently accepted is CAdESRSASignature2020.
          type: string
          example: CAdESRSASignature2020
        password:
          description: Password to decode P12 file
          type: string
          format: password
          example: kzNjDWIlDvIufumc
        expiresIn:
          description: expiration time in seconds
          type: number
          example: 86400
      required:
        - issuer
        - payload
        - type
        - password
    EidasQecInput:
      title: Input EIDAS QEC
      type: object
      description: Input data to associate eIDAS keys with a did
      properties:
        did:
          type: string
          description: DID of EIDAS key owner
          example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        p12:
          description: P12 file with a QEC to eSeal. RSA is the only keys algorithm currently supported.
          type: string
          format: binary
          example: <buffer-input-of-your-p12>
        keyType:
          type: string
          description: RSA is the only key type accepted.
          example: RSA
      example: 
        EIDAS QEC Example:
          did: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          p12: <buffer-input-of-your-p12>
          keyType: RSA
      required:
        - did
        - p12
        - keyType
    EidasQecResponse:
      title: EidasQecResponse
      type: object
      description: Response for a sucessful eIDAS keys set-up.
      properties:
        id:
          type: string
          description: DID of EIDAS key owner
          example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        p12:
          type: string
          description: P12 file with a QEC to eSeal. Supported keys algorithms are RSA and EC with secp256k1 curve
          format: binary
          example: <buffer-input-of-your-p12>
        keyType:
          type: string
          description: key type
          example: RSA
          oneOf: 
            - type: string
              example: RSA
            - type: string
              example: EC
            - type: string
              example: OKP
      example: 
          did: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          p12: <buffer-input-of-your-p12>
          keyType: RSA
    Problem:
      description: A Problem Details object (RFC 7807)
      type: object
      properties:
        type:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the problem type. When dereferenced,
            it SHOULD provide human-readable documentation for the problem type.
          default: "about:blank"
        title:
          type: string
          description: |
            A short summary of the problem type.
          example: Internal Server Error
        status:
          type: integer
          format: int32
          description: |
            The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 400
          maximum: 600
          exclusiveMaximum: true
          example: 500
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the problem.
          example: Connection timeout
        instance:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
    SessionsRequest:
      title: Sessions Request
      description: Request for OAuth 2.0 JWT bearer assertion grant.
      type: object
      properties:
        grantType:
          description: 'OAuth 2.0 grant type. Must be set to "urn:ietf:params:oauth:grant-type:jwt-bearer"'
          type: string
          example: "urn:ietf:params:oauth:grant-type:jwt-bearer"
        assertion:
          type: string
          description: Self-signed JWT
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        scope:
          type: string
          description: Scope is used to define the authentication method.
          enum:
            - eidas profile user
            - eidas profile entity
          example: vidchain profile user
      required:
        - grantType
        - assertion
        - scope
    SessionsResponse:
      title: Sessions Response
      type: object
      properties:
        accessToken:
          description: Authentication JWT to access the API.
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        tokenType:
          description: 'Type of the authentication token. Supported type "bearer".'
          type: string
          example: Bearer
        expiresIn:
          description: JWT expiration in seconds.
          type: integer
          example: 900
        issuedAt:
          description: "Time of JWT issuance. Format: unix timestamp"
          type: string
          example: "1467841035013"
      description: Authentication JWT
  examples:
    BadRequest:
      value:
        title: Bad Request
        status: 400
        detail: Bad request
    Unauthorized:
      value:
        title: Unauthorized
        status: 401
        detail: Unauthorized
    Forbidden:
      value:
        title: Forbidden
        status: 403
        detail: Forbidden
    IssuerNotFound:
      value:
        title: Issuer Not Found
        status: 400
        detail: Issuer not found in the trusted apps registry.
    ExpiredToken:
      value:
        title: Token Expired
        status: 400
        detail: The token has expired.
    InternalError:
      value:
        title: Internal Server Error
        status: 500
        detail: |
          The server encountered an internal error and was unable to complete
          your request
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT