openapi: 3.0.3
info:
  title: SSI EIDAS Bridge API
  description: |
    SSI eIDAS Bridge API is a component linking the European
    Trust and Legal Framework, named eIDAS (electronic IDentification,
    Authentication and trust Services), with the Self-Sovereign Identification
    (SSI) global trust framework, based on Decentralized Identifiers, or DIDs.
  version: 1.0.0
  termsOfService: "/docs/terms"
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.vidchain.net
    description: Validated ID API 
  - url: https://dev.vidchain.net
    description: Validated ID API Dev
  - url: http://localhost:9002
    description: localhost
tags:
  - name: Authentication Service
    description: Manage Entities Authentication
  - name: SSI EIDAS Bridge
    description: Sign and validate EIDAS signatures
paths:
  /eidas-bridge/v1/authentication/requests:
    post:
      operationId: post-eidas-bridge-v1-authentication-requests
      tags:
        - Authentication Service
      summary: Initiate a DID Authentication Request
      description: Initiate a DID Authentication Request
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionsRequest"
            examples:
              User Session Request:
                value:
                  grantType: urn:ietf:params:oauth:grant-type:jwt-bearer
                  assertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: eidas profile user
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresIn: 900
                    issuedAt: "1467841035013"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/authentication/request-jwts:
    get:
      operationId: post-eidas-bridge-v1-authentication-request-jwts
      tags:
        - Authentication Service
      summary: Retrieve a JWT token Authentication Request
      description: Retrieve a JWT token Authentication Request
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionsRequest"
            examples:
              User Session Request:
                value:
                  grantType: urn:ietf:params:oauth:grant-type:jwt-bearer
                  assertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: eidas profile user
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresIn: 900
                    issuedAt: "1467841035013"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/authentication/sessions:
    post:
      operationId: post-eidas-bridge-v1-authentication-sessions
      tags:
        - Authentication Service
      summary: Request a Sessions Token
      description: | 
       Requests a Sessions Token to call the protected API calls. 
       This call requires to send an Authentication Response Token after
       calling the Authentication Request endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionsRequest"
            examples:
              User Session Request:
                value:
                  grantType: urn:ietf:params:oauth:grant-type:jwt-bearer
                  assertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: eidas profile user
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresIn: 900
                    issuedAt: "1467841035013"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/eidas-keys/{id}:
    put:
      tags:
        - SSI EIDAS Bridge
      summary: Set up a DID with an eIDAS QEC to eSeal W3C Verifiable Credentials
      description: Set up a DID with an eIDAS QEC to eSeal W3C Verifiable Credentials
      operationId: put-eidas-bridge-v1-eidas-keys
      security:
        - bearerAuth: []
      requestBody:
        description: Set-up options for linking a DID with its eIDAS QEC
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EidasQecInput"
            examples: 
              EIDAS QEC Example:
                value:
                  did: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                  eidasQec: 308210f9020103308210bf06092a864886f70d010701a08210b0048210ac308210a8308206d706092a864886f70d010706a08206c8308206c4020100308206bd06092a864886f70d010701301c060a2a864886f70d010c0106300e04085e6e839cbaf750dd0202080080820690f00bad5212e537fae3a575dc09f0506d041c7e677662e0950fdfcd43e7af02855a2fb755e5fb79fc84d53f78dc9942560d02f7fceb6017540a96bb2442bc7b636b0c8f5c7aee0e42c503db126358b30592c3b3fa524a861791904a35a4610fc07dbd29708fb01a9b98199670e94b2f78ce1697af6491e304b1ffd8651493ac7ffcc4e4cef957995924aa47699f25def8c0a76bcce15f68004e93e983654223fc0e226dbccfea55bee85960541c4f7d7dae895541fe75363c5732db62fca362da85112c1d76309e8f16c892c45a66be07ebcc4d106276432be11defc658fc2c38fb687c21da328d18d31993846903effb0d7a67c9382878926fa1f2417c11616c1b6fb0ecb3feddb8e1c01b8c975606744eea9c57262b79037ecf35f186f71dbbb7c3a3f25a36de68d69d5052c09b35154722324bf3d0599975a920c778ed7bf4bed0e1deb11ff3ddf5e445f4f2be5c18e951cac481342eb154a60f4b39083d87006e7aa29e0adedb6c99658b15c9b24e2359be3fe282dc07199f5ddb1db6ecb91fa5f5044a997be1e8f5239df4399c433b24c3b67dbd39ff2e4a53a38b947d7198b44387e267e120296699b0fd37c28a2c7bf61c2a0f8770f88bfc74808c6c2dbd0f2b07685bea61285fb95b3d602f6c562d39415bc8b4dfd889e9863ad33f10d53681b643b72c6a898ae45fdd6dbc060dc73ada1741f571ca4487be8727b02048702d54126c487932d72484ac2709be3d83458ca702ff038e8c8a93ed2c1f9cb9172a9ed75766e19865b2bf6efccda42b519aa7023fc433a6003f5b5be0c937eb677504da038aa6bf6fa45fc384aab5285515bf2ba98fe832d426c4e993fb57bd66b6945981a26ada1b7606798067d9bd92358e5e68cd5933ed3b05ba2bed96d5a44a7ca637c7cf152dd9ed018911549737a7a8f90f9f11af62629e300e2c17c11185e3b064826e8cdce927639531697ca8b7c70421dfbc4f17150fa97d7238b22c05e9f7734b5e3a6de3062ec0df74f013d8e593b0d41b7dc126c96ab2cfbd729e1683147011dc2ff70602494d31f780bd44df89dc664a423d4c9a7bd02dffbdade6c628f507d513b285770753c5837b092fd5f7b04b10808f99694b885f547a9a26328459c2083851f29d5b9104d0b81bcb39f7107b671ab0cb244132b4e643e57172fd2541c6c05b5794a7c97cd7d127b1ee9d8c25a9f396bdbb211dd85a4a8407bc1ae21fe62b12d3a9fd368e507edbf512b6172e93183f33b179d81259e04963189f2ca33f296ace6186ddcfdca2e3f4d119efc50e8e13a78e581fc66332ff00d6f0520b266b6a24a3507dc8332810abd5c3dc9827ecaa9a232d653354e77b69b132aaf453696b4ae488738bff51052c6a3859ebb90763cc2af1a8b38d51e5eaa504ab72efda1b9dac8eff0cf5a7337fa9386c86680eeda883c77e0e630ee4cd1fcaa827dcc9b6eefa9e2e66f918bc5cf6cec749b44ba00ae69fdd990d6b40fe8f62efc12038959a4ac12af35fdd9d63c8479ff4a997836f3d21297831850e02e4fd14393e858a976b7b70bcc6fe6d78c94f89a5bcc942ace62c831cf0740b24f17c046c09e0265bd90efe8a5f81cf77e51743a4fde60409ea602c5532e5233e7b0dac4eba02dc38f0073b13bcb31dff771e167599536761b04828a6878bd95e2278226ad0f18c6e7862d50db1811fd8022329e7459327a475fa9fa5c6c7f9774b9cac4a50bc14215cd883325a295a32702c271014ebae64174553116269d2eed61439a68c50a4e11f175578f9fdc930238d46f6458628ca6ac27c8064da59206c3e73c978aaf3049739d1bcc2f66ff3653f50ae659796b90945bd3e895cfbcb2be2e81e54b9d913f26fd581e60a5fc36a6c5b2270bcbd8099882efc9cd34f71069ac852b517c143f6d187a0cff5f5583f5c33c2eb3a07dcf490e409649ed4e133fdfa91b090891d0ffbfee17c6fb1bcddf4862c0ce013dac7e67d66e882b86d780ea9ef345d5e18b1c8aa73f164abdc104b698b51650af7d833e01e03d3dbedb4edaeecc559f2ceb23f2800fc6954687827eff33680df408f16a3dbc0978c5e91b5757885b38c28a747fb9e19f3dd3cc3383d4c5040e844908e8e75375f8b18345f977c4f0a8c6bb2d8b66707342fc64b68529b78c0cee9089e0934da0f5c2964c70caa4469731e2adead1b751df73048ff23bae49f2d65e2855243201cca11ffa6bae7b26276f903e27f3b40bfc290d7475fb1b4ca991180e2c5f71ac941fb95a50a4ffb6af7d33fe6a921412dcf430a876aba5b26ff1c16fa25f20d79e77a7e423a888cca0652dc343b04e6048b3186722246360935c284541a286b10ad3d2b327c700e6721d44d1cbff2ec308209c906092a864886f70d010701a08209ba048209b6308209b2308209ae060b2a864886f70d010c0a0102a082097630820972301c060a2a864886f70d010c0103300e0408b41fe42d656cd99a0202080004820950b5114e3340cc9edca6564cd8eb6e756cc0e3098c262e0adbe4597eca4840d4de070369afd58afea620a1a850330d879c9d16007c87e64074617021411f56079c1c6c00036803347958d274b2d14e5a70a8c800d4a7377fa8ae06e53335f3393f36424fb8f74dccea9f4b21fedd96988fbff3751f4b4946e9c602af1b2d08b4e11abfd626f95c06ccb4c546f5b7d9675f22d749605b5759f9465d75db4c3bcb9679dff2c53fdb427bf05b6fcbcf95fa5b453bb7e4360fbf9dd1c82de9e2aade8ef19cb73ba330c8f5c18becd1350d2810bddba440ac9e8cc9b73c82d2516d143e0b2870c46639180b1c1c99418882b5d2724c2fb435403ff214efd66111cffeec70b74a2a2ad9b5141f28aee536e6e5f9427931beced2a1a00e791a3b9c8c42c6ef8ea84f35c5c1c6fa3ffe895835e61c9b4a9546607d3b30343bbf12babe4e50f3d136712cd12bad768d342ff47db5c7b369d5f05c1928d7acebd07f92fa9c5b1b2556d523e885d9254df1ebe5a04f174be9a8126e4245f33648a5424d9548f31e9666b5d80b2dfcd9febb1a4d45ab9bbc0e728c622c8a2cd7ca3fd5c7092be30693a43bb83b1aa17630b3df66385b406d3f64198845a125a687548092d5f45504219d59635fe61ea2b320c601fea6d682bff3943a6788f47a9a16be60fb53f9b7209ce06fbc5977e171f27775a55fb01de006945098efc523d6a478c2b64017bab41ca8b4f1c85a2a39ce51a0e5b426f6cab389ac0c70360f277196148279c941ef924a08a9eae071a1eb360958842921594a97c3fd6ad3f5cc07ce8f4fc60e1caa4923d82e82f924dd216787e6fb6fb4771fcf3133c58177a90ef6b917e6aa85948f1037bffe737b58eec7fd6c6196cf9784173afb5d5b49756fb9c89eb7b13b437f8e6af5f145d43707d29eb95938160f6ab7108398ff564ed7461a32e3e8d2c152975b75e980876bed17b8047725b6a124d004d95a3a23b4f78679ea25a53815ddf97e120363c9ae0cfadb659f1a0bb28ca6d3ac40833a9280e9de4d81a7fb7d8f5eb5488aa7f6de87957b0fd4cc68a27790dd253e111933f4dad30f445ad35f554fca8311e5abacc8838cae48345c1a20f19015fd493760d749c7b29da31579ce66f96991a7ad64b493d9328af5e69d151f9e4dff785f135f16fc717a87094fec5f491c302371ee6217bdc582785d80661ea8be6f2f9dcdc58684b127785e29ab11812f719da4b0ecd3fba26c13786d97ab79e983ed9677225903092531750e1cac2c7614f5e0e4433f6e04f9d236816eb294e95fccd8a71ccbab0695010c352922bdbeda25cab5bfd1060e459d3df3412e1919c8bf8616cc17eca2ef408d937a3f0838548fd447ce446297f71c643854bf18aacf7e872d1837685201c4c875d015cd15170d948c5f6f32fd6d9290d02917082059cd993e018cb114bb1750dac750096674646257907969549636a5ee310e1c662381a8c767ac4b57a691740a38d9a9ebb0d97d9948492262c59e003f8b082c7d717e3846cb9cc8cff0b52a6dde775cbab32f196844b83dccbcdb0dda48a19745df26d283c25866b6c0a49b2813677e873a31de3629a816a1c93b8eb4cb36d81ab210e49efe41e37271492b9be77f5f422180a2480e8a7912007b963e67feaaa8c9ebf706346007cef9c0da80437f52316ec8d132acd198f60719be813570508f0f14ac3c9d380868a158fb40e6db1d3e2ddfd55fecd461ebe4b31e5bf14dbf046ad3dc3e9603528abcbe509ebdb7841e43510d1281a3d00983c5d1f5db5fe9e630c63d2a09d6f37af4673419e26d23f80dca0b9930b87193512ba9b325fa4cc18f0a129a15c7b2e8c6ff457ffa73a73b34274bf0c95634138fea37d0d397b6e800fde8190b6155290153465599e7fc6b1e2877de88c16ab4001d421819fff3fea87980e43c8283e20147c4f9d148558324c4b2671a4357dee68c5958dbcd62467981d23f23f7c218d25a7ebea8d26ef780dc6a09cd2d02da7bba41645bacf91cf2964e536bbf84878c76fc7b3be015478341c23d30ac4c1f6ff0ae51e0db239507d689f23898d4e0f2599042f2ca47bca86638705fcb564f0b7a6f69cad7b7bb3923af10e6d18396a8d7f729ade0c3e37ccfbcfd25bdad3573ea39046c8f34338113d4e3c28116eabdc30703cc795afca5c1e1c15de6d03766c58dc2f441fd77a49e91acc0ea0f9a2ec268585ac771e8ab96f747ea84cfeb86cc0ccf102ef57fba56f249a24cdf2bf60490ebc74d08db600e9db0d37496e4bfd523b085837ee8c873dce3229ade611b4b870d1cc63dff07faa80b36f3765ca26b6510efc8bfc263f652747ffd52bf296efee3db2c2fab43af46030398e2ac9c9997b69a69dfa66b7711337c91ba10dfbb9181c50057e712ef4ea09234e854725ffb4ac8222c67411b586d7742a3e623c2a40b407a6d3f62545355bf95006c48a155720bad00ff9ec71355c9985f45f1ed18b5f768ec097916a058aa36561c7019b0d0813b0204610370ed726ca6d2188b403946efbeb43e8f1b221192931d536fe09179c3820b067af273bbbab7fd61518003748c2ef0e626eb6f41e20f357b8e5c85b4d39a23ca73fec06c866dba3532858f71094caf901d70603f059a672c0aa880fada29d3b2724a7e1dde3ad456b88f9dce89859c7cee188e60999e13aa29b71cd7f0f55d94bd6809ed589f3529016f505fcaef3f94442d05275dfd6f766b69fce14e48ad46443add87224afa1bf11857022609d362494e14de18f077d574dc48d24edd2db0a2177c0e40365c92e94187c7257f849943ca4e716f6c5f967c14e0c3a4d75a0880b1b1342d7914d9deed9895550fb99df0612d4db4093871036dbb48ccf7700b4cfb5da67365d76724e0bd53f483a1344b4dbf97262687cf82bbdd5106a6ee6efa79483313d7393cc31c95fc9e921cf8f550c8c0b06c03da48f0727f7bf01e6514a2cc961af546dc84ff93e30d62adeb3d16bbec98ae5e3ad1838344c64046106795c6518a3c2898de6c7bd03d2de8a4ff50aa750ccaded5fc233ce600d9333224b913ed8f688a33bc51d84c98e60dd6f58b3f55b851b1241bfacf198d889edb711a1a43641076150b87179e97182c9342316f5044f643a865cf571958557429dac06afccaa389f3d928c7f0eb40579b7063e68746ebccb12287e2f4585844ba46d4671fbdd38fdc2ad44174f558c720c10bb619ee44a67965cbe18761db4b16c45d1bbd7ceb82b80937b099e071415c179260ed3080828fe17eb8c9e84424791ad6630c80eca0b3464ee29c97707c3ceeedf603a73578ec4783eea9b4211160b1ae4294e7870a5b4051407bb7402af5a55eda22923e37eaa63125302306092a864886f70d010915311604141708024f0edc1402414e0fc5bd63c4880fb1d62230313021300906052b0e03021a05000414c27fcdf829ce99d7e122a555934c1f80766fee450408e9542a4e8184b07702020800
        required: true
      responses:
        "201":
          description: Keys stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EidasQecResponse"
        "200":
          description: Keys updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EidasQecResponse"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Unauthorized:
                  $ref: "#/components/examples/Unauthorized"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Forbidden:
                  $ref: "#/components/examples/Forbidden"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
      parameters:
        - name: id
          in: path
          schema:
            type: string
          examples: 
            Basic DID:
              summary: a DID
              value: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
          required: true
          description: DID to identify eIDAS keys associated with it
          allowEmptyValue: false
  /eidas-bridge/v1/signatures:
    post:
      tags:
        - SSI EIDAS Bridge
      summary: Create an eIDAS eSeal signature
      description: Create an eIDAS eSeal signature using the associated EIDAS keys with a DID
      operationId: post-eidas-bridge-v1-signatures
      security:
        - bearerAuth: []
      requestBody:
        description: Request to sign a credential or a verifiable credential payload with DID's EIDAS associated keys. It requires providing the DID of the issuer, the payload to sign, the signature type and password to decode P12 file.
        content:
          application/json:
            schema: 
              $ref: "#/components/schemas/SignatureInput"
            examples:
              eSeal a Credential Payload:
                value:
                  issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                  payload:
                    "@context":
                      - "https://www.w3.org/2018/credentials/v1"
                      - "https://www.w3.org/2018/credentials/examples/v1"
                    id: "http://example.edu/credentials/1872"
                    type:
                      - VerifiableCredential
                      - VerifiableID
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    issuanceDate: "2019-12-31T23:59:60Z"
                    credentialSubject:
                      id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                      firstName: "Eva"
                      lastName: "Monroe"
                      gender: "Female"
                      dateOfBirth: "12/11/1970"
                      placeOfBirth: "Madrid"
                      currentAddress: "Arago 179 4a"
                      city: "Barcelona"
                      state: "Catalunya"
                      zip: "08011"
                  password: vidchain
              eSeal a Verifiable Credential Payload:
                value:
                  issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                  payload:
                    "@context":
                      - "https://www.w3.org/2018/credentials/v1"
                      - "https://www.w3.org/2018/credentials/examples/v1"
                    id: "http://example.edu/credentials/1872"
                    type:
                      - VerifiableCredential
                      - VerifiableID
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    issuanceDate: "2019-12-31T23:59:60Z"
                    credentialSubject:
                      id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                      firstName: "Eva"
                      lastName: "Monroe"
                      gender: "Female"
                      dateOfBirth: "12/11/1970"
                      placeOfBirth: "Madrid"
                      currentAddress: "Arago 179 4a"
                      city: "Barcelona"
                      state: "Catalunya"
                      zip: "08011"
                    proof:
                      type: EcdsaSecp256k1Signature2019
                      created: "2019-06-18T21:19:10Z"
                      proofPurpose: assertionMethod
                      verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
                      jws: eyJhbGciOiJSUzI1NiIsImI2NCI6ZmFsc2Us...
                  password: vidchain
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verifiableCredentialEsealed"
              examples:
                One Proof EIDAS Signature:
                  value:
                    "@context":
                      - "https://www.w3.org/2018/credentials/v1"
                      - "https://api.vidchain.net/credentials/verifiableId/v1"
                    id: http://example.vid/credentials/1872
                    type: ['VerifiableCredential','VerifiableID']
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    issuanceDate: "2019-06-22T14:11:44Z"
                    expirationDate: "2019-06-22T14:11:44Z"
                    credentialSubject: 
                      id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                      firstName: "Eva"
                      lastName: "Monroe"
                      gender: "Female"
                      dateOfBirth: "12/11/1970"
                      placeOfBirth: "Madrid"
                      currentAddress: "Arago 179 4a"
                      city: "Barcelona"
                      state: "Catalunya"
                      zip: "08011"
                    proof:
                      type: "CAdESRSASignature2020"
                      created: "2020-06-22T14:11:44Z"
                      proofPurpose: "assertionMethod"
                      verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
                      cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
                Mutiple Proofs EIDAS Signature:
                  value:
                    "@context":
                      - "https://www.w3.org/2018/credentials/v1"
                      - "https://api.vidchain.net/credentials/verifiableId/v1"
                    id: http://example.vid/credentials/1872
                    type: ['VerifiableCredential','VerifiableID']
                    issuer: did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE
                    issuanceDate: "2019-06-22T14:11:44Z"
                    expirationDate: "2019-06-22T14:11:44Z"
                    credentialSubject: 
                        id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
                        firstName: "Eva"
                        lastName: "Monroe"
                        gender: "Female"
                        dateOfBirth: "12/11/1970"
                        placeOfBirth: "Madrid"
                        currentAddress: "Arago 179 4a"
                        city: "Barcelona"
                        state: "Catalunya"
                        zip: "08011"
                    proof: 
                      - type: "EcdsaSecp256k1Signature2019"
                        created: "2019-06-22T14:11:44Z"
                        proofPurpose: "assertionMethod"
                        verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
                        jws: "eyJhbGciOiJFU...pKTV3co3wXAE"
                      - type: "CAdESRSASignature2020"
                        created: "2020-06-22T14:11:44Z"
                        proofPurpose: "assertionMethod"
                        verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
                        cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Unauthorized:
                  $ref: "#/components/examples/Unauthorized"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Forbidden:
                  $ref: "#/components/examples/Forbidden"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /eidas-bridge/v1/signature-validations:
    post:
      tags:
        - SSI EIDAS Bridge
      summary: Validate a W3C Verifiable Credential eSealed with an EIDAS QEC
      description: Validate a W3C Verifiable Credential eSealed with an EIDAS QEC
      operationId: post-eidas-bridge-v1-signature-validations
      requestBody:
        description: W3C Verifiable Credential with an Ades Proof
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/verifiableCred"
            examples:
              One Proof EIDAS Signature:
                value:
                  "@context":
                    - "https://www.w3.org/2018/credentials/v1"
                    - "https://www.w3.org/2018/credentials/examples/v1"
                  id: "http://example.edu/credentials/1872"
                  type: ['VerifiableCredential','VerifiableID']
                  issuer: "did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2"
                  issuanceDate: "2019-12-31T23:59:60Z"
                  credentialSubject: 
                    id: "did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2"
                    firstName: "Eva"
                    lastName: "Monroe"
                    gender: "Female"
                    dateOfBirth: "12/11/1970"
                    placeOfBirth: "Madrid"
                    currentAddress: "Arago 179 4a"
                    city: "Barcelona"
                    state: "Catalunya"
                    zip: "08011"
                  proof:
                    type: "CAdESRSASignature2020"
                    created: "2021-01-08T11:17:16Z"
                    proofPurpose: "assertionMethod"
                    verificationMethod: "did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ=="
                    cades: "-----BEGIN PKCS7-----MIINPQYJKoZIhvcNAQcCoIINLjCCDSoCAQExDzANBglghkgBZQMEAgEFADCCAnQGCSqGSIb3DQEHAaCCAmUEggJhPGh0dHA6Ly9leGFtcGxlLmVkdS9jcmVkZW50aWFscy8xODcyPiA8aHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zI3R5cGU+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNWZXJpZmlhYmxlQ3JlZGVudGlhbD4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNjcmVkZW50aWFsU3ViamVjdD4gPGRpZDprZXk6elEzc2h0eFYxRnJKZmhxRTFkdnhZUmNDa25XTmpIYzNjNVgxeTNaU29QRGkyYXVyMj4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1YW5jZURhdGU+ICIyMDE5LTEyLTMxVDIzOjU5OjYwWiJeXjxodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSNkYXRlVGltZT4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1ZXI+IDxkaWQ6a2V5OnpRM3NodHhWMUZySmZocUUxZHZ4WVJjQ2tuV05qSGMzYzVYMXkzWlNvUERpMmF1cjI+IC4KoIIGNTCCBjEwggQZoAMCAQICFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUAMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20wHhcNMjAxMjAzMDYxMzQ4WhcNMzAxMjAxMDYxMzQ4WjCBpzELMAkGA1UEBhMCRVMxEjAQBgNVBAgMCUNhdGFsb25pYTESMBAGA1UEBwwJQmFyY2Vsb25hMRgwFgYDVQQKDA9WYWxpZGF0ZWQgSWQgc2wxETAPBgNVBAsMCFZJRGNoYWluMRUwEwYDVQQDDAxWYWxpZGF0ZWQgSWQxLDAqBgkqhkiG9w0BCQEWHXZpZGNoYWluK3Rlc3RAdmFsaWRhdGVkaWQuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAaNTMFEwHQYDVR0OBBYEFOUuNQAAhnD9b418276AegK/uyoMMB8GA1UdIwQYMBaAFOUuNQAAhnD9b418276AegK/uyoMMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAAtzPplHYO+MsQaGS3VA7q+y+0jU8a6K8yoMRmiKRzRSVg7SFr6amIZk5mHcr19hk7Y+AaoHgM4oQDJfMysILcXxXN3JxS7Fki6NCooQuhY7ygf0Wm3+4cqey1HrBvG9PuCc5VVZvsrsUYqBY1uQ3txjPjEbrpa928PFVtzZp1Y82sy9heG0Qwr+GOCxgT90N+ffDrbtwTFW2h98nvRduAQMXHbo2jzwjpdmL3U9IRPtP5CHfWjJ3wTxRSyh0vaeVZuKHmW3exrf6SYjfy1pYAMRkNB+BnKbLUiVR4pvwy79ljppL7XlCz4SYIwa6TTdb4l/JZzMH2mlknQxbFWTjfGad0vtGd/oLH2nYRqCujxce9ejMukTVpTL1kC1bvkVs9GTz17ZcufH4JejDDr/6tS3hTMIUNBZKWrVqLzh8trnRwN92K5Z5+yNxHrDFx7Hn5fJQp3FuAWBJAdYoeerp18CeexGoNevfr3UQKqUNqYR8enpudUpyVVO4sOwekA4h/qGRGGJaVRPuupRYD8szfw3nYqgguEpxMPAQGCXbTgAcVUhOUCk9NqLF3iXybdKFOXWE9sdqixmKnMFXRUtL6xzAIw7YQ04GpVwobivvmZBZjlvol+c/Cg6D+Chb7P3AJF8x7Of471juK+im2SBwYvcnWs0AnJkjOd83nzjCdVHMYIEYTCCBF0CAQEwgcAwgacxCzAJBgNVBAYTAkVTMRIwEAYDVQQIDAlDYXRhbG9uaWExEjAQBgNVBAcMCUJhcmNlbG9uYTEYMBYGA1UECgwPVmFsaWRhdGVkIElkIHNsMREwDwYDVQQLDAhWSURjaGFpbjEVMBMGA1UEAwwMVmFsaWRhdGVkIElkMSwwKgYJKoZIhvcNAQkBFh12aWRjaGFpbit0ZXN0QHZhbGlkYXRlZGlkLmNvbQIUHL2U6P+dN5QPxlTduaSSySuCQ+wwDQYJYIZIAWUDBAIBBQCgggFxMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIxMDEwODExMTcxNlowLwYJKoZIhvcNAQkEMSIEIAnjsXeClcSWeziAaWGDp46XCY2w4+WdgkLxjF09bBA4MIIBBAYLKoZIhvcNAQkQAi8xgfQwgfEwge4wgesEIFPO2Z0V8JXOxQZB9V2ckfMV7KWEER8/NJ/uV/0+oq+IMIHGMIGtpIGqMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20CFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUABIICAAPyAYnYDDZH6Jx9hLnptZ5ZPVhZxnOQo2tXqU+u/3fhzWenXdklMEIPprtsisBplsRiUTIkJwhCkisZoVXr7P7L2lvumC6JlfRjY/6NfQEuIPA9WRiNi2Z/Uh29UigkHbYazehUDEZs1BbyJ52S3bCRLXCdAM4WCrosz/qIUgJ/1SHOHsHd98UjFyL9KMEMaIGKF1cF6qPT+FKsdznl/dFOJcyTkyIeuo7MnaJ71eHwEUoqCskzq7f6jfWRqDQPZzAOifHZPX9S8P/nXeg2dGqzwmCutMG4yLF/EyN3hOLy9YDMLopyIVhc432PWlDzjql/KHxYBtGKrFwvgaACDapDTj6g4tWqEbLWc+D4p07SNd/y7II+ItRNcArtICs1fcvzsbTxhMC7RfJom4gLp7dBz0T7zc3nIIiiDkHpnpf73yxhPlgfhrt7uS4LOPCPrZ8vUZFpOup/+eVZhl0jRSqAFaO1P79XMhCdOiTsl5K246q7Jpit0n6PyudOD309twvrsUzh9ZF1e28FHSTREr+HKg0Wc97MvYE5fyX4akUDaO/TdpJHvGpVCaohxpZb8XVCzRp5dPxNW0/B1v9SuCXzLoIc9aaDMB+5Qt9uxIi6atD5jSLs+M+iFyqJsV9lGvKg9CF+iAECMCMKYpQIgLzd8apcQtxee2z1boLDD73b-----END PKCS7-----"
              Multiple Proofs EIDAS Signature:
                value:
                  "@context":
                    - "https://www.w3.org/2018/credentials/v1"
                    - "https://www.w3.org/2018/credentials/examples/v1"
                  id: "http://example.edu/credentials/1872"
                  type: ['VerifiableCredential','VerifiableID']
                  issuer: "did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2"
                  issuanceDate: "2019-12-31T23:59:60Z"
                  credentialSubject: 
                    id: "did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2"
                    firstName: "Eva"
                    lastName: "Monroe"
                    gender: "Female"
                    dateOfBirth: "12/11/1970"
                    placeOfBirth: "Madrid"
                    currentAddress: "Arago 179 4a"
                    city: "Barcelona"
                    state: "Catalunya"
                    zip: "08011"
                  proof:
                    - type: "EidasSeal2019"
                      created: "2019-06-22T14:11:44Z"
                      proofPurpose: "assertionMethod"
                      verificationMethod: "did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1"
                      jws: "eyJhbGciOiJFUzI1NkstUiIsInR5cCI6IkpXVCIsImtpZCI6ImRpZDp2aWQ6MHhCNTUxYjcwZDY1MDg5MmQyM2RFM0JlMjAxQTk1YzFGY0JlYTk4QTNEI2VpZGFzS2V5In0.eyJpYXQiOjE2MDUzODY5NDYsIkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy8yMDE4L2NyZWRlbnRpYWxzL3YxIiwiaHR0cHM6Ly9hcGkudmlkY2hhaW4ubmV0L2NyZWRlbnRpYWxzL3ZlcmlmaWFibGVJZC92MSJdLCJpZCI6InZpZDp0eXBlLXZlcnNpb24tb2YtdGhlLWNyZWRlbnRpYWwiLCJ0eXBlIjpbIlZlcmlmaWFibGVDcmVkZW50aWFsIiwiVmVyaWZpYWJsZUlEIl0sImlzc3VlciI6ImRpZDp2aWQ6MHg1MjA4NDMxQzZFQzJlYzQwOTdhZUE3MTgyYkI5MmQwMTg3NjY0OThjIiwiaXNzdWFuY2VEYXRlIjoiMjAxOS0wNi0yMlQxNDoxMTo0NFoiLCJleHBpcmF0aW9uRGF0ZSI6IjIwMTktMDYtMjJUMTQ6MTE6NDRaIiwiY3JlZGVudGlhbFN1YmplY3QiOnsiaWQiOiJkaWQ6dmlkOjB4ODcwN0NDYTgzNUM5NjEzMzREM0Y2NDUwQzZhNjFhMEFENjU5MjQ2MCIsImZpcnN0TmFtZSI6IkV2YSIsImxhc3ROYW1lIjoiTW9ucm9lIiwiZ2VuZGVyIjoiRmVtYWxlIiwiZGF0ZU9mQmlydGgiOiIxMi8xMS8xOTcwIiwicGxhY2VPZkJpcnRoIjoiTWFkcmlkIiwiY3VycmVudEFkZHJlc3MiOiJBcmFnbyAxNzkgNGEiLCJjaXR5IjoiQmFyY2Vsb25hIiwic3RhdGUiOiJDYXRhbHVueWEiLCJ6aXAiOiIwODAxMSJ9LCJpc3MiOiJkaWQ6dmlkOjB4QTUxMzVhYTA3ODg2MzVFZTQ5NTJERWFCRmEzZGE5OGJGNTk5OUJFMSJ9.CcIAc7C1Z1BsvjLO7y5XpSNqhvrcVXxSxpkRY0-o2mfSCebKhMK4f4g2lP-4Yf_fVzL_SmWKO05jeLAJnE6BBwA"
                    - type: "CAdESRSASignature2020"
                      created: "2021-01-08T11:17:16Z"
                      proofPurpose: "assertionMethod"
                      verificationMethod: "did:key:z6MkkGj1UZAUjWzrt5zgdhxM4WcZE5bHKZogQKZHvt8hrXzE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ=="
                      cades: "-----BEGIN PKCS7-----MIINPQYJKoZIhvcNAQcCoIINLjCCDSoCAQExDzANBglghkgBZQMEAgEFADCCAnQGCSqGSIb3DQEHAaCCAmUEggJhPGh0dHA6Ly9leGFtcGxlLmVkdS9jcmVkZW50aWFscy8xODcyPiA8aHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zI3R5cGU+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNWZXJpZmlhYmxlQ3JlZGVudGlhbD4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNjcmVkZW50aWFsU3ViamVjdD4gPGRpZDprZXk6elEzc2h0eFYxRnJKZmhxRTFkdnhZUmNDa25XTmpIYzNjNVgxeTNaU29QRGkyYXVyMj4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1YW5jZURhdGU+ICIyMDE5LTEyLTMxVDIzOjU5OjYwWiJeXjxodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSNkYXRlVGltZT4gLgo8aHR0cDovL2V4YW1wbGUuZWR1L2NyZWRlbnRpYWxzLzE4NzI+IDxodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscyNpc3N1ZXI+IDxkaWQ6a2V5OnpRM3NodHhWMUZySmZocUUxZHZ4WVJjQ2tuV05qSGMzYzVYMXkzWlNvUERpMmF1cjI+IC4KoIIGNTCCBjEwggQZoAMCAQICFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUAMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20wHhcNMjAxMjAzMDYxMzQ4WhcNMzAxMjAxMDYxMzQ4WjCBpzELMAkGA1UEBhMCRVMxEjAQBgNVBAgMCUNhdGFsb25pYTESMBAGA1UEBwwJQmFyY2Vsb25hMRgwFgYDVQQKDA9WYWxpZGF0ZWQgSWQgc2wxETAPBgNVBAsMCFZJRGNoYWluMRUwEwYDVQQDDAxWYWxpZGF0ZWQgSWQxLDAqBgkqhkiG9w0BCQEWHXZpZGNoYWluK3Rlc3RAdmFsaWRhdGVkaWQuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAaNTMFEwHQYDVR0OBBYEFOUuNQAAhnD9b418276AegK/uyoMMB8GA1UdIwQYMBaAFOUuNQAAhnD9b418276AegK/uyoMMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAAtzPplHYO+MsQaGS3VA7q+y+0jU8a6K8yoMRmiKRzRSVg7SFr6amIZk5mHcr19hk7Y+AaoHgM4oQDJfMysILcXxXN3JxS7Fki6NCooQuhY7ygf0Wm3+4cqey1HrBvG9PuCc5VVZvsrsUYqBY1uQ3txjPjEbrpa928PFVtzZp1Y82sy9heG0Qwr+GOCxgT90N+ffDrbtwTFW2h98nvRduAQMXHbo2jzwjpdmL3U9IRPtP5CHfWjJ3wTxRSyh0vaeVZuKHmW3exrf6SYjfy1pYAMRkNB+BnKbLUiVR4pvwy79ljppL7XlCz4SYIwa6TTdb4l/JZzMH2mlknQxbFWTjfGad0vtGd/oLH2nYRqCujxce9ejMukTVpTL1kC1bvkVs9GTz17ZcufH4JejDDr/6tS3hTMIUNBZKWrVqLzh8trnRwN92K5Z5+yNxHrDFx7Hn5fJQp3FuAWBJAdYoeerp18CeexGoNevfr3UQKqUNqYR8enpudUpyVVO4sOwekA4h/qGRGGJaVRPuupRYD8szfw3nYqgguEpxMPAQGCXbTgAcVUhOUCk9NqLF3iXybdKFOXWE9sdqixmKnMFXRUtL6xzAIw7YQ04GpVwobivvmZBZjlvol+c/Cg6D+Chb7P3AJF8x7Of471juK+im2SBwYvcnWs0AnJkjOd83nzjCdVHMYIEYTCCBF0CAQEwgcAwgacxCzAJBgNVBAYTAkVTMRIwEAYDVQQIDAlDYXRhbG9uaWExEjAQBgNVBAcMCUJhcmNlbG9uYTEYMBYGA1UECgwPVmFsaWRhdGVkIElkIHNsMREwDwYDVQQLDAhWSURjaGFpbjEVMBMGA1UEAwwMVmFsaWRhdGVkIElkMSwwKgYJKoZIhvcNAQkBFh12aWRjaGFpbit0ZXN0QHZhbGlkYXRlZGlkLmNvbQIUHL2U6P+dN5QPxlTduaSSySuCQ+wwDQYJYIZIAWUDBAIBBQCgggFxMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIxMDEwODExMTcxNlowLwYJKoZIhvcNAQkEMSIEIAnjsXeClcSWeziAaWGDp46XCY2w4+WdgkLxjF09bBA4MIIBBAYLKoZIhvcNAQkQAi8xgfQwgfEwge4wgesEIFPO2Z0V8JXOxQZB9V2ckfMV7KWEER8/NJ/uV/0+oq+IMIHGMIGtpIGqMIGnMQswCQYDVQQGEwJFUzESMBAGA1UECAwJQ2F0YWxvbmlhMRIwEAYDVQQHDAlCYXJjZWxvbmExGDAWBgNVBAoMD1ZhbGlkYXRlZCBJZCBzbDERMA8GA1UECwwIVklEY2hhaW4xFTATBgNVBAMMDFZhbGlkYXRlZCBJZDEsMCoGCSqGSIb3DQEJARYddmlkY2hhaW4rdGVzdEB2YWxpZGF0ZWRpZC5jb20CFBy9lOj/nTeUD8ZU3bmkkskrgkPsMA0GCSqGSIb3DQEBCwUABIICAAPyAYnYDDZH6Jx9hLnptZ5ZPVhZxnOQo2tXqU+u/3fhzWenXdklMEIPprtsisBplsRiUTIkJwhCkisZoVXr7P7L2lvumC6JlfRjY/6NfQEuIPA9WRiNi2Z/Uh29UigkHbYazehUDEZs1BbyJ52S3bCRLXCdAM4WCrosz/qIUgJ/1SHOHsHd98UjFyL9KMEMaIGKF1cF6qPT+FKsdznl/dFOJcyTkyIeuo7MnaJ71eHwEUoqCskzq7f6jfWRqDQPZzAOifHZPX9S8P/nXeg2dGqzwmCutMG4yLF/EyN3hOLy9YDMLopyIVhc432PWlDzjql/KHxYBtGKrFwvgaACDapDTj6g4tWqEbLWc+D4p07SNd/y7II+ItRNcArtICs1fcvzsbTxhMC7RfJom4gLp7dBz0T7zc3nIIiiDkHpnpf73yxhPlgfhrt7uS4LOPCPrZ8vUZFpOup/+eVZhl0jRSqAFaO1P79XMhCdOiTsl5K246q7Jpit0n6PyudOD309twvrsUzh9ZF1e28FHSTREr+HKg0Wc97MvYE5fyX4akUDaO/TdpJHvGpVCaohxpZb8XVCzRp5dPxNW0/B1v9SuCXzLoIc9aaDMB+5Qt9uxIi6atD5jSLs+M+iFyqJsV9lGvKg9CF+iAECMCMKYpQIgLzd8apcQtxee2z1boLDD73b-----END PKCS7-----"
        required: true
      responses:
        "204":
          description: Valid
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Unauthorized:
                  $ref: "#/components/examples/Unauthorized"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Forbidden:
                  $ref: "#/components/examples/Forbidden"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
components:
  schemas:
    Proof:
      description: |
        One or more cryptographic proofs that can be used to detect tampering
        and verify the authorship of a credential or presentation.
      type: object
      properties:
        type:
          description: Type of signature
          type: string
          example: EcdsaSecp256k1Signature2019
        created:
          description: Creation time
          type: string
          example: "2019-06-22T14:11:44Z"
        proofPurpose:
          description: Purpose of the proof
          type: string
          example: assertionMethod
        verificationMethod:
          description: Verification method
          type: string
          example: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        jws:
          description: JSON Web Signature
          type: string
          example: eyJ...Wuc
      additionalProperties: true
      required: 
        - type
        - created
        - proofPurpose
        - verificationMethod
        - jws
      example:
        type: EcdsaSecp256k1Signature2019
        created: "2019-06-18T21:19:10Z"
        proofPurpose: assertionMethod
        verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
        jws: eyJhbGciOiJSUzI1NiIsImI2NCI6ZmFsc2Us...
    AdesProof:
      description: |
        Ades Proof using an EIDAS QEC and signing with CADES and RSA keys.
      type: object
      properties:
        type:
          description: Type of signature
          type: string
          example: CAdESRSASignature2020
        created:
          description: Creation time
          type: string
          example: "2019-06-22T14:11:44Z"
        proofPurpose:
          description: Purpose of the proof
          type: string
          example: assertionMethod
        verificationMethod:
          description: EIDAS Certificate from QEC
          type: string
          example: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        cades:
          description: CADES Signature in hexadecimal format
          type: string
          example: 308204c906092a864886f70d010702...266ad9fee3375d8095
      additionalProperties: true
      required: 
        - type
        - created
        - proofPurpose
        - verificationMethod
        - cades
      example:
        type: "CAdESRSASignature2020"
        created: "2020-06-22T14:11:44Z"
        proofPurpose: "assertionMethod"
        verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
    GlobalProof:
      description: |
        General Proof type to admit either AdesProof or Secp256k1 proof
      type: object
      properties:
        type:
          description: Type of signature
          type: string
          example: EcdsaSecp256k1Signature2019
        created:
          description: Creation time
          type: string
          example: "2019-06-22T14:11:44Z"
        proofPurpose:
          description: Purpose of the proof
          type: string
          example: assertionMethod
        verificationMethod:
          description: Verification method
          type: string
          example: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        jws:
          description: JSON Web Signature
          type: string
          example: eyJ...Wuc
        cades:
          description: CADES Signature in hexadecimal format
          type: string
      additionalProperties: true
      required: 
        - type
        - created
        - proofPurpose
        - verificationMethod
      example:
        type: "CAdESRSASignature2020"
        created: "2020-06-22T14:11:44Z"
        proofPurpose: "assertionMethod"
        verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
        cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
    verifiableCredentialEsealed:
      type: object
      title: Signature Response
      properties:
        id:
          type: string
          example: "https://example.edu/credentials/1872"
          description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
          format: uri
        "@context":
          description: "An ordered set where the first item is a URI https://www.w3.org/2018/credentials/v1. It is used to define terms and help to express specific identifiers in a compact manner."
          items:
            type: string
          uniqueItems: true
          example:
            - "https://www.w3.org/2018/credentials/v1"
          type: array
        type:
          type: array
          description: Type of the object or the datatype of the typed value.
          example:
            - VerifiableCredential
            - UniversityDegreeCredential
          items:
            type: string
        issuer:
          description: "A URI or an object containing an id property. Example: DID of the verifiable credential/presentation issuer."
          oneOf:
            - type: string
              description: DID of the verifiable credential/presentation issuer.
              format: uri
              example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            - type: object
              description: Object containing an id property to identify the issuer.
              properties:
                id:
                  type: string
                  description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
                  format: uri
                  example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        credentialSubject:
          description: A set of objects that contain one or more properties that are each related to the subject of the credential.
          type: object
          oneOf:
            - $ref: "#/components/schemas/subject"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/subject"
        issuanceDate:
          type: string
          description: Date and time at which the information associated with the verifiable credential/presentation becomes valid.
          format: date-time
          example: "2010-01-01T19:23:24Z"
        expirationDate:
          type: string
          format: date-time
          example: "2020-01-01T19:23:24Z"
          description: Date and time at which a credential/presentation ceases to be valid.
        proof:
          type: object
          oneOf:
            - $ref: "#/components/schemas/AdesProof"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/GlobalProof"
      example:
        "@context":
        - "https://www.w3.org/2018/credentials/v1"
        - "https://api.vidchain.net/credentials/verifiableId/v1"
        id: "http://example.gov/credentials/3732"
        type: "['VerifiableCredential','VerifiableID']"
        issuer: did:key:zQ3shokFTS3brHcDQrn82RUDfCZESWL1ZdCEJwekUDPQiYBme
        issuanceDate: "2019-06-22T14:11:44Z"
        expirationDate: "2019-06-22T14:11:44Z"
        credentialSubject: 
          id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          firstName: "Eva"
          lastName: "Monroe"
          gender: "Female"
          dateOfBirth: "12/11/1970"
          placeOfBirth: "Madrid"
          currentAddress: "Arago 179 4a"
          city: "Barcelona"
          state: "Catalunya"
          zip: "08011"
        proof:
          type: "CAdESRSASignature2020"
          created: "2020-06-22T14:11:44Z"
          proofPurpose: "assertionMethod"
          verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
          cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
      required:
        - "@context"
        - type
        - proof
    verifiableCred:
      type: object
      description: Verifiable Credential Data Model
      example:
        simple verifiable credential:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
          proof:
            type: EcdsaSecp256k1Signature2019
            created: "2019-06-18T21:19:10Z"
            proofPurpose: assertionMethod
            verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
            jws: eyJhbGciOiJSUzI1NiIsImI2NCI6ZmFsc2Us...
        verifiable credential with ades proof:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
          proof:
            type: "CAdESRSASignature2020"
            created: "2020-06-22T14:11:44Z"
            proofPurpose: "assertionMethod"
            verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
            cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
        verifiable credential with multiple proofs:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
          proof:
            - type: "EcdsaSecp256k1Signature2019"
              created: "2019-06-22T14:11:44Z"
              proofPurpose: "assertionMethod"
              verificationMethod: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2#keys-1
              jws: "eyJhbGciOiJFU...pKTV3co3wXAE"
            - type: "CAdESRSASignature2020"
              created: "2020-06-22T14:11:44Z"
              proofPurpose: "assertionMethod"
              verificationMethod: did:key:z6MkfGYwYV8xQgoNtyFgxdHLuBC6vzSCoHUKpeUg5uBvkXLE#MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvcPOS736aX2tfwEj+mMCJ3kw6KBCDHLRNqtkDseXNTuhdIs5Uj7wPcOETexT1DnGDfPZ3HYBsc8x8jWKFtO/E5oqFzXDyq60G8Qmlt509JKQJLP0YxrXwjZcLD/uM9Qf8lCjjiVJjDYnztE88p5jkQ2V9HCf3NK3ASL3m2q4M5QRHNGiTTvCvcRG2qRocVIp3EB8fwIpgqWxi6uI242yE7E1J4fVDXlD4hYpocDH0HOzazQXrNubHz6EGkOt5nAKeEzToqE9ow++h6TRHhfmdWJFb2HQ7FvoAMUYopQJaKpk/V5FpmXTDyMPNt2uj9UBS/EML7Z3vXzXUUJq/pTbdtJIpZaZk0SOCdt3iWk8CCNIHAHdN0uy+SWC+AH0hv56urQqR0Zaz33fGguhbuUYKzXt1CTQgCTkEhcwT9Sml4m1WGMl3fbFMFkacPGRwSMs5ZXKjDCRdz+N8/pFExOuobCqIMUPGC98TVsV3drrsSe716CSHS3BWuaum/W3ve5w1Z11nGbRih9X5AuYg5t/gwFDsg05iQa76ymzWSaZEEL5btHvCXNsmsyDU1n/KJw4S8nnXj+qt+xLNENNWsijcP7VnE1bkXvEQ0rg/PewmPWKVLIHZf5s8RJTmAdCFE0IJT1WiXufwT9QUa6BfyE1mOpnk4LpwkhcmM0jNADHvp8CAwEAAQ==
              cades: 308204c906092a864886f70d010702...266ad9fee3375d8095
      title: Verifiable Credential
      properties:
        id:
          type: string
          example: "https://example.edu/credentials/1872"
          description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
          format: uri
        "@context":
          description: "An ordered set where the first item is a URI https://www.w3.org/2018/credentials/v1. It is used to define terms and help to express specific identifiers in a compact manner."
          items:
            type: string
          uniqueItems: true
          example:
            - "https://www.w3.org/2018/credentials/v1"
          type: array
        type:
          type: array
          description: Type of the object or the datatype of the typed value.
          example:
            - VerifiableCredential
            - UniversityDegreeCredential
          items:
            type: string
        credentialSubject:
          description: A set of objects that contain one or more properties that are each related to the subject of the credential.
          type: object
          oneOf:
            - $ref: "#/components/schemas/subject"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/subject"
        issuer:
          description: "A URI or an object containing an id property. Example: DID of the verifiable credential/presentation issuer."
          oneOf:
            - type: string
              description: DID of the verifiable credential/presentation issuer.
              format: uri
              example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            - type: object
              description: Object containing an id property to identify the issuer.
              properties:
                id:
                  type: string
                  description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
                  format: uri
                  example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        issuanceDate:
          type: string
          description: Date and time at which the information associated with the verifiable credential/presentation becomes valid.
          format: date-time
          example: "2010-01-01T19:23:24Z"
        expirationDate:
          type: string
          format: date-time
          example: "2020-01-01T19:23:24Z"
          description: Date and time at which a credential/presentation ceases to be valid.
        proof:
          type: object
          additionalProperties: true
          oneOf:
            - $ref: "#/components/schemas/Proof"
            - $ref: "#/components/schemas/AdesProof"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/GlobalProof"
      required:
        - "@context"
        - type
        - proof
    subject:
      title: Subject
      type: object
      description: A thing about which claims are made
      properties:
        id:
          type: string
          description: "Object MAY contain an id"
          example: "did:example:ebfeb1f712ebc6f1c276e12ec21"
      additionalProperties: true
      example:
        Diploma:
          id: "did:example:ebfeb1f712ebc6f1c276e12ec21"
          degree:
            type: BachelorDegree
            name: Bachelor of Science and Arts
        Affiliation:
          id: "did:example:c276e12ec21ebfeb1f712ebc6f1"
          name: Morgan Doe
          spouse: "did:example:ebfeb1f712ebc6f1c276e12ec21"
        ESSIF eID:
          id: "did:vid:evas-did"
          personIdentifier: BE/BE/02635542Y
          currentFamilyName: Eva
          currentGivenName: Adams
          birthName: Eva
          dateOfBirth: "1998-02-14"
          placeOfBirth: Brussels
          currentAddress: "44, rue de Fame"
          gender: Female
    credential:
      type: object
      description: Credential Data Model without Proof
      example:
        simple credential payload:
          "@context":
            - "https://www.w3.org/2018/credentials/v1"
            - "https://www.w3.org/2018/credentials/examples/v1"
          id: "http://example.edu/credentials/1872"
          type:
            - VerifiableCredential
            - AlumniCredential
          issuer: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          issuanceDate: "2010-01-01T19:73:24Z"
          credentialSubject:
            id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            alumniOf:
              id: did:key:zQ3shZc2QzApp2oymGvQbzP8eKheVshBHbU4ZYjeXqwSKEn6N
              name:
                - value: Example University
                  lang: en
                - value: "Exemple d'Université"
                  lang: fr
      title: Credential
      properties:
        id:
          type: string
          example: "https://example.edu/credentials/1872"
          description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
          format: uri
        "@context":
          description: "An ordered set where the first item is a URI https://www.w3.org/2018/credentials/v1. It is used to define terms and help to express specific identifiers in a compact manner."
          items:
            type: string
          uniqueItems: true
          example:
            - "https://www.w3.org/2018/credentials/v1"
          type: array
        type:
          type: array
          description: Type of the object or the datatype of the typed value.
          example:
            - VerifiableCredential
            - UniversityDegreeCredential
          items:
            type: string
        credentialSubject:
          description: A set of objects that contain one or more properties that are each related to the subject of the credential.
          type: object
          oneOf:
            - $ref: "#/components/schemas/subject"
            - type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/subject"
        issuer:
          description: "A URI or an object containing an id property. Example: DID of the verifiable credential/presentation issuer."
          oneOf:
            - type: string
              description: DID of the verifiable credential/presentation issuer.
              format: uri
              example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
            - type: object
              description: Object containing an id property to identify the issuer.
              properties:
                id:
                  type: string
                  description: "URI that is used to unambiguously refer to an object, such as a person, product, or organization."
                  format: uri
                  example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        issuanceDate:
          type: string
          description: Date and time at which the information associated with the verifiable credential/presentation becomes valid.
          format: date-time
          example: "2010-01-01T19:23:24Z"
        expirationDate:
          type: string
          format: date-time
          example: "2020-01-01T19:23:24Z"
          description: Date and time at which a credential/presentation ceases to be valid.
      additionalProperties: true
      required:
        - "@context"
        - type
    SignatureInput:
      title: Signature EIDAS Input
      type: object
      description: Input data to eSeal a given Credential or Verifiable Credential
      properties:
        issuer:
          description: DID of the Issuer
          type: string
          example: did:key:zQ3shokFTS3brHcDQrn82RUDfCZESWL1ZdCEJwekUDPQiYBme
        payload:
          description: W3C Verifiable Credential or Credential (without Proof) to eSeal
          type: object
          oneOf:
            - $ref: "#/components/schemas/credential"
            - $ref: "#/components/schemas/verifiableCred"
        password:
          description: Password to decode P12 file
          type: string
          format: password
          example: kzNjDWIlDvIufumc
        expiresIn:
          description: expiration time in seconds
          type: number
          example: 86400
      required:
        - issuer
        - payload
    EidasQecInput:
      title: Input EIDAS QEC
      type: object
      description: Input data to associate eIDAS keys with a did
      properties:
        did:
          type: string
          description: DID of EIDAS key owner
          example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
        eidasQec:
          description: P12 file with a QEC to eSeal. RSA is the only keys algorithm currently supported.
          type: string
          format: hexadecimal
          example: 30820a5102010330820a1706092a864886f70d010701a0820a0804820a0430820a00308204b706092a864886f70d010706a08204a8308204a40201003082049d06092a864886f70d010701301c060a2a864886f70d010c0106300e0408aafc004c0e4c0ed20202080080820470bf1b516867a1f611e7bd3b547818e77d477b353586d6806625225910454ca2f4fe6bbf3bcc203538288c445ebbcaa2f5f68d6b0037061bda3426e9219caf16f7cb8ba8802e4ed31178cc3c35c576f5d1d9b8c53bf3199596d14ccd003771126dd117c9dd9ec68d9e691d48adb5dd68fd7a25f5db139dd7081150216433555bdd16429d8278ef6a2e270e0e25b908d56a7bc0662db3170748a3364b776c0ff5da21393b4ee88ff441373bef05e48f0ab71be35f2b7cfe7ff8f614202cf52dd7bbd8aa2a46ba0d1c8633a35ad86584a0bccf0ea001c4d2a01e4851fba954374f65771abcc9e0025c5276b72b0ecfb83711b3d83eaafc8b52d7e47911e2fedc3264eba454a0d55b7fee16a4beed6e975a6d01c6416f78ca194d590bbda398b8e9d61d1c1a01a5b64ead0004f4cbaf29f6ed3946cf059fc69774e23aad31229e1ac7ef268af65cfb069436179bb48b0aa868b00cb004d65b2898ad37f5c71ad2f88344fe90bf4bac23f6b3d8ca6bab188d7b4d4bf29784855d8b7d4de7c44ccf756433bc50758c9ff62cb0d20c6bd2f57411d1bbcc943f9681ecd6e74dcb088438ce03dd17a4828717e36e2920475949e407202f33193000ae0cef427400f4694fc586477e75c01ab0c68c5c2757291cc5c354cc3c2e29703d7d4afd1a32071089fd6ee6010329c588fc747f98b88b0df7ffa5cd1080697eeaf4293a686e53cb447d435783c774237faaa70798290a01bcfe738a3ddebe8f1b25429bcb6c4a06e1f8adcf6fe369f80a39b07fb23985416bcdd78b69613059994eca52875738886e8cabdb81113a83092b31ade747cfaa47b13254e974e96125111225ecf49e5549dbdb0498ebd8b326e7098a7736cd893cddf1bc31884f2f1ab926a05c0437378bb753b3efc74532ba6e7ca9b3ef25193a4ca937b38713a048fb28e697ded8f726ac5017309e3fe2f35b57428ce56d5db1a8ea29b5163a1424233e324d2a7ad672c8ef538c0a582122e45dc7cdde4e8cefb1f7820a29bbd8c2686f7d920ac4ab1d2df86eb530b2e9f7635eda4975477dd87c3f2ac45cdbeb8ec2329501956a418567337adda855e75c22bab6026d7d286a2519b3d73117db8563a0d21064ca6df59829cfc142fe682d71e3642f0103bf538c25ac05eea499fe68fa9397d2b162b93fc39f12e328ee6f8b7db387d67248db9f6a946347c7229d22532b85b9cd8659f2d0b7c709dd4f2821e00d3c25340a1b1681b55f65d1ec9691c4e5d85f3e7ea7128e17e0ee1ea3ed54b3b3c77aa5b87dc0e313c72493ce45dafd7a055bd38db3b4c2297b68ca3592b1a9891ee954f4fe016add4115186979f1a7d841c8a77cbd39b231b13d9993d54074887b4825a8365599192061e6484d8788bd25800cf34f9eaa9fdcc2dfe17263d44a4ad62452f2837b099015ebecb3c511281481bb969d3495ac91178fab38f657ee936451ca025bd9ef75c5d623b68931bb5447d7bb87160bbabc644aaa24726c8b7751d3845289c02372b4cdafddcbfb3ec756a7bd6acb4c875711d713ec71fb4476481f038750df4698028781c700f94f7f4d40922388820851e48c9cfc52284ac2e440a653993082054106092a864886f70d010701a08205320482052e3082052a30820526060b2a864886f70d010c0a0102a08204ee308204ea301c060a2a864886f70d010c0103300e0408f5944b68df3976d802020800048204c8573f12920f129546c7d3b4c87f4a1373e7249380718093b4c900cae2e937ac11b3e4244ced86d36632e0fc1292006653d159f026c6d16c20ea864ecaa91f870e8d3f0105f0ab611be1b38e857ea0c269bc956aa1377117e79f7fe5968992c766ada72f1b360ef9ad7dd86b3c76613ceb25d6d07b2a036cd57d5c1a14a764d61e1b8edd96f065203cd2b84f32d09fc1d2168cc1d06237e393da6a9c420d6a8ae409ffac32c7e86dbe087f3eef5085810beecc60465bb3012e4272534297917a3c8fed8d8aba98c73ffcfae254ab10d2fcd0ddb689c91729510918e619a842d1a22188fb2b824b7f61357b9c654a44aa299535c06748d3adcb083a842f8a13e97e2006cb2d0bbefd8195314d76b8f585cd8e45d558ea8d26aa5a8ab704efe29ef0a9f5cfdeefc70fba1d073363490b00c0dc8145b34e498e131433a6502d582c15b833d3369fd3bec92470665c4e0ace27b18651b098d8611d8618a295298975e6ba160d57dd9c3aba72c24a6fd1d7e08474dfdc3fd74b86d4a9a898c308f7709dc294e6439d7d00e317d6a7389f58f54fb559ef5adbf6986bb38b47f3a95f92a69371d029d584b6afd74109eb95aa05ed9f850307f974060736f2df6f6bbd1fb163664d26b7323acd14ca8acb2a935c4722f9af259506a7d3a4dba72fdb6986e5f940f4496ae51b2f035c400e1dee6fd8c67b22b17f3a945c14e2afd46cadd7e7ac10415e6388b58e65949fe2b6393a36e5c653cbcb4133df4eb2d5abc0d12c5b58ab161da5b850b6c9b2c840052221218b21d42a0da364cda40c66b0fdcf462ebdc924099b05324372ae9d824787f93fc49d81bbc46be964d15310829fdab7a4931717d3df27cde4a07c7e8c12babd97d1e72e7bb08dbc3a57b4c751f4873747f3c2bd37a8ec9fb2bac925e1ded38ac46dd1adf26c0e2ef11ac2b38d45bc335e03a588da1444a283cce13bdcffff19347d175d2d93828588fbf9d16d0b02bf7c44c8bc9bbacdd0b208d44fe05cfdb1a759e7710a23532be5761aa80e7f007dce5d81cfbe8fd4952efc7698582f2ca36f2f80c1def4b47c0a7383ee9afaaddb75abaf0605da9f73e0c50dcc07a92f88e180d216fdbe1437059de21b0ad1aaf9c4369cd2a20614d96cdbc4ac9346c6a7983fe4543b16f50cf97edb7953ae45abd95e4ccf6e335a50f4f82b1fd63a32b89b04c7bc16713b6a351e780bccb60b9fd9b97173c47342e22fd492e16ec980b534dabbc41b44ef58299fe2d5c1434e280342b87443591415a55f6daf81921c29b0db385899bf9d3c045b5d2942d24100ae8da592523acd5068c49a9413984c3b1a3fcbf2c566d3d503909a028d334ef62851ef277b5c1d100362dc6057631d089fbb0ecc97ae425deb7f7808049b96c15f4e1dd9ee84733bdadd3e4f5a08639904273b5fa62bc90c39a41afbdfb455940155be660bf754388e6d1d587fb4cc6f496ae30459817ead77f68007ad7c6acd5caed7e43ba7a53ae914e1d7e01258f4068585c0ce8848828b49e0cbbeac313d605e829d42ae2b26bc7060d73cdd52d5edd4ab3bce2f20b27d0420b3a2581a3ef0d183417d21b15dc1ed1f7e73daa9170537f39137b0e5708d5c318c0ae8d8a7f87e0ea5d710ed2fbe2c83651464cc06723d9173d04253809650e4e3061422f012dc177ecb2f5ae78b8df625beed63220bfaacb403c9582a15c5b884dba3f995836a190c4f647387813125302306092a864886f70d010915311604143dbf08c4e60fd8fc0a49027923588c40dc0c980530313021300906052b0e03021a05000414f0d4509827c3f98b115a469a0eb538938ebc188804085f332df8eaadeedc02020800
      example: 
        EIDAS QEC Example:
          did: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
          eidasQec: 308210f9020103308210bf06092a864886f70d010701a08210b0048210ac308210a8308206d706092a864886f70d010706a08206c8308206c4020100308206bd06092a864886f70d010701301c060a2a864886f70d010c0106300e04085e6e839cbaf750dd0202080080820690f00bad5212e537fae3a575dc09f0506d041c7e677662e0950fdfcd43e7af02855a2fb755e5fb79fc84d53f78dc9942560d02f7fceb6017540a96bb2442bc7b636b0c8f5c7aee0e42c503db126358b30592c3b3fa524a861791904a35a4610fc07dbd29708fb01a9b98199670e94b2f78ce1697af6491e304b1ffd8651493ac7ffcc4e4cef957995924aa47699f25def8c0a76bcce15f68004e93e983654223fc0e226dbccfea55bee85960541c4f7d7dae895541fe75363c5732db62fca362da85112c1d76309e8f16c892c45a66be07ebcc4d106276432be11defc658fc2c38fb687c21da328d18d31993846903effb0d7a67c9382878926fa1f2417c11616c1b6fb0ecb3feddb8e1c01b8c975606744eea9c57262b79037ecf35f186f71dbbb7c3a3f25a36de68d69d5052c09b35154722324bf3d0599975a920c778ed7bf4bed0e1deb11ff3ddf5e445f4f2be5c18e951cac481342eb154a60f4b39083d87006e7aa29e0adedb6c99658b15c9b24e2359be3fe282dc07199f5ddb1db6ecb91fa5f5044a997be1e8f5239df4399c433b24c3b67dbd39ff2e4a53a38b947d7198b44387e267e120296699b0fd37c28a2c7bf61c2a0f8770f88bfc74808c6c2dbd0f2b07685bea61285fb95b3d602f6c562d39415bc8b4dfd889e9863ad33f10d53681b643b72c6a898ae45fdd6dbc060dc73ada1741f571ca4487be8727b02048702d54126c487932d72484ac2709be3d83458ca702ff038e8c8a93ed2c1f9cb9172a9ed75766e19865b2bf6efccda42b519aa7023fc433a6003f5b5be0c937eb677504da038aa6bf6fa45fc384aab5285515bf2ba98fe832d426c4e993fb57bd66b6945981a26ada1b7606798067d9bd92358e5e68cd5933ed3b05ba2bed96d5a44a7ca637c7cf152dd9ed018911549737a7a8f90f9f11af62629e300e2c17c11185e3b064826e8cdce927639531697ca8b7c70421dfbc4f17150fa97d7238b22c05e9f7734b5e3a6de3062ec0df74f013d8e593b0d41b7dc126c96ab2cfbd729e1683147011dc2ff70602494d31f780bd44df89dc664a423d4c9a7bd02dffbdade6c628f507d513b285770753c5837b092fd5f7b04b10808f99694b885f547a9a26328459c2083851f29d5b9104d0b81bcb39f7107b671ab0cb244132b4e643e57172fd2541c6c05b5794a7c97cd7d127b1ee9d8c25a9f396bdbb211dd85a4a8407bc1ae21fe62b12d3a9fd368e507edbf512b6172e93183f33b179d81259e04963189f2ca33f296ace6186ddcfdca2e3f4d119efc50e8e13a78e581fc66332ff00d6f0520b266b6a24a3507dc8332810abd5c3dc9827ecaa9a232d653354e77b69b132aaf453696b4ae488738bff51052c6a3859ebb90763cc2af1a8b38d51e5eaa504ab72efda1b9dac8eff0cf5a7337fa9386c86680eeda883c77e0e630ee4cd1fcaa827dcc9b6eefa9e2e66f918bc5cf6cec749b44ba00ae69fdd990d6b40fe8f62efc12038959a4ac12af35fdd9d63c8479ff4a997836f3d21297831850e02e4fd14393e858a976b7b70bcc6fe6d78c94f89a5bcc942ace62c831cf0740b24f17c046c09e0265bd90efe8a5f81cf77e51743a4fde60409ea602c5532e5233e7b0dac4eba02dc38f0073b13bcb31dff771e167599536761b04828a6878bd95e2278226ad0f18c6e7862d50db1811fd8022329e7459327a475fa9fa5c6c7f9774b9cac4a50bc14215cd883325a295a32702c271014ebae64174553116269d2eed61439a68c50a4e11f175578f9fdc930238d46f6458628ca6ac27c8064da59206c3e73c978aaf3049739d1bcc2f66ff3653f50ae659796b90945bd3e895cfbcb2be2e81e54b9d913f26fd581e60a5fc36a6c5b2270bcbd8099882efc9cd34f71069ac852b517c143f6d187a0cff5f5583f5c33c2eb3a07dcf490e409649ed4e133fdfa91b090891d0ffbfee17c6fb1bcddf4862c0ce013dac7e67d66e882b86d780ea9ef345d5e18b1c8aa73f164abdc104b698b51650af7d833e01e03d3dbedb4edaeecc559f2ceb23f2800fc6954687827eff33680df408f16a3dbc0978c5e91b5757885b38c28a747fb9e19f3dd3cc3383d4c5040e844908e8e75375f8b18345f977c4f0a8c6bb2d8b66707342fc64b68529b78c0cee9089e0934da0f5c2964c70caa4469731e2adead1b751df73048ff23bae49f2d65e2855243201cca11ffa6bae7b26276f903e27f3b40bfc290d7475fb1b4ca991180e2c5f71ac941fb95a50a4ffb6af7d33fe6a921412dcf430a876aba5b26ff1c16fa25f20d79e77a7e423a888cca0652dc343b04e6048b3186722246360935c284541a286b10ad3d2b327c700e6721d44d1cbff2ec308209c906092a864886f70d010701a08209ba048209b6308209b2308209ae060b2a864886f70d010c0a0102a082097630820972301c060a2a864886f70d010c0103300e0408b41fe42d656cd99a0202080004820950b5114e3340cc9edca6564cd8eb6e756cc0e3098c262e0adbe4597eca4840d4de070369afd58afea620a1a850330d879c9d16007c87e64074617021411f56079c1c6c00036803347958d274b2d14e5a70a8c800d4a7377fa8ae06e53335f3393f36424fb8f74dccea9f4b21fedd96988fbff3751f4b4946e9c602af1b2d08b4e11abfd626f95c06ccb4c546f5b7d9675f22d749605b5759f9465d75db4c3bcb9679dff2c53fdb427bf05b6fcbcf95fa5b453bb7e4360fbf9dd1c82de9e2aade8ef19cb73ba330c8f5c18becd1350d2810bddba440ac9e8cc9b73c82d2516d143e0b2870c46639180b1c1c99418882b5d2724c2fb435403ff214efd66111cffeec70b74a2a2ad9b5141f28aee536e6e5f9427931beced2a1a00e791a3b9c8c42c6ef8ea84f35c5c1c6fa3ffe895835e61c9b4a9546607d3b30343bbf12babe4e50f3d136712cd12bad768d342ff47db5c7b369d5f05c1928d7acebd07f92fa9c5b1b2556d523e885d9254df1ebe5a04f174be9a8126e4245f33648a5424d9548f31e9666b5d80b2dfcd9febb1a4d45ab9bbc0e728c622c8a2cd7ca3fd5c7092be30693a43bb83b1aa17630b3df66385b406d3f64198845a125a687548092d5f45504219d59635fe61ea2b320c601fea6d682bff3943a6788f47a9a16be60fb53f9b7209ce06fbc5977e171f27775a55fb01de006945098efc523d6a478c2b64017bab41ca8b4f1c85a2a39ce51a0e5b426f6cab389ac0c70360f277196148279c941ef924a08a9eae071a1eb360958842921594a97c3fd6ad3f5cc07ce8f4fc60e1caa4923d82e82f924dd216787e6fb6fb4771fcf3133c58177a90ef6b917e6aa85948f1037bffe737b58eec7fd6c6196cf9784173afb5d5b49756fb9c89eb7b13b437f8e6af5f145d43707d29eb95938160f6ab7108398ff564ed7461a32e3e8d2c152975b75e980876bed17b8047725b6a124d004d95a3a23b4f78679ea25a53815ddf97e120363c9ae0cfadb659f1a0bb28ca6d3ac40833a9280e9de4d81a7fb7d8f5eb5488aa7f6de87957b0fd4cc68a27790dd253e111933f4dad30f445ad35f554fca8311e5abacc8838cae48345c1a20f19015fd493760d749c7b29da31579ce66f96991a7ad64b493d9328af5e69d151f9e4dff785f135f16fc717a87094fec5f491c302371ee6217bdc582785d80661ea8be6f2f9dcdc58684b127785e29ab11812f719da4b0ecd3fba26c13786d97ab79e983ed9677225903092531750e1cac2c7614f5e0e4433f6e04f9d236816eb294e95fccd8a71ccbab0695010c352922bdbeda25cab5bfd1060e459d3df3412e1919c8bf8616cc17eca2ef408d937a3f0838548fd447ce446297f71c643854bf18aacf7e872d1837685201c4c875d015cd15170d948c5f6f32fd6d9290d02917082059cd993e018cb114bb1750dac750096674646257907969549636a5ee310e1c662381a8c767ac4b57a691740a38d9a9ebb0d97d9948492262c59e003f8b082c7d717e3846cb9cc8cff0b52a6dde775cbab32f196844b83dccbcdb0dda48a19745df26d283c25866b6c0a49b2813677e873a31de3629a816a1c93b8eb4cb36d81ab210e49efe41e37271492b9be77f5f422180a2480e8a7912007b963e67feaaa8c9ebf706346007cef9c0da80437f52316ec8d132acd198f60719be813570508f0f14ac3c9d380868a158fb40e6db1d3e2ddfd55fecd461ebe4b31e5bf14dbf046ad3dc3e9603528abcbe509ebdb7841e43510d1281a3d00983c5d1f5db5fe9e630c63d2a09d6f37af4673419e26d23f80dca0b9930b87193512ba9b325fa4cc18f0a129a15c7b2e8c6ff457ffa73a73b34274bf0c95634138fea37d0d397b6e800fde8190b6155290153465599e7fc6b1e2877de88c16ab4001d421819fff3fea87980e43c8283e20147c4f9d148558324c4b2671a4357dee68c5958dbcd62467981d23f23f7c218d25a7ebea8d26ef780dc6a09cd2d02da7bba41645bacf91cf2964e536bbf84878c76fc7b3be015478341c23d30ac4c1f6ff0ae51e0db239507d689f23898d4e0f2599042f2ca47bca86638705fcb564f0b7a6f69cad7b7bb3923af10e6d18396a8d7f729ade0c3e37ccfbcfd25bdad3573ea39046c8f34338113d4e3c28116eabdc30703cc795afca5c1e1c15de6d03766c58dc2f441fd77a49e91acc0ea0f9a2ec268585ac771e8ab96f747ea84cfeb86cc0ccf102ef57fba56f249a24cdf2bf60490ebc74d08db600e9db0d37496e4bfd523b085837ee8c873dce3229ade611b4b870d1cc63dff07faa80b36f3765ca26b6510efc8bfc263f652747ffd52bf296efee3db2c2fab43af46030398e2ac9c9997b69a69dfa66b7711337c91ba10dfbb9181c50057e712ef4ea09234e854725ffb4ac8222c67411b586d7742a3e623c2a40b407a6d3f62545355bf95006c48a155720bad00ff9ec71355c9985f45f1ed18b5f768ec097916a058aa36561c7019b0d0813b0204610370ed726ca6d2188b403946efbeb43e8f1b221192931d536fe09179c3820b067af273bbbab7fd61518003748c2ef0e626eb6f41e20f357b8e5c85b4d39a23ca73fec06c866dba3532858f71094caf901d70603f059a672c0aa880fada29d3b2724a7e1dde3ad456b88f9dce89859c7cee188e60999e13aa29b71cd7f0f55d94bd6809ed589f3529016f505fcaef3f94442d05275dfd6f766b69fce14e48ad46443add87224afa1bf11857022609d362494e14de18f077d574dc48d24edd2db0a2177c0e40365c92e94187c7257f849943ca4e716f6c5f967c14e0c3a4d75a0880b1b1342d7914d9deed9895550fb99df0612d4db4093871036dbb48ccf7700b4cfb5da67365d76724e0bd53f483a1344b4dbf97262687cf82bbdd5106a6ee6efa79483313d7393cc31c95fc9e921cf8f550c8c0b06c03da48f0727f7bf01e6514a2cc961af546dc84ff93e30d62adeb3d16bbec98ae5e3ad1838344c64046106795c6518a3c2898de6c7bd03d2de8a4ff50aa750ccaded5fc233ce600d9333224b913ed8f688a33bc51d84c98e60dd6f58b3f55b851b1241bfacf198d889edb711a1a43641076150b87179e97182c9342316f5044f643a865cf571958557429dac06afccaa389f3d928c7f0eb40579b7063e68746ebccb12287e2f4585844ba46d4671fbdd38fdc2ad44174f558c720c10bb619ee44a67965cbe18761db4b16c45d1bbd7ceb82b80937b099e071415c179260ed3080828fe17eb8c9e84424791ad6630c80eca0b3464ee29c97707c3ceeedf603a73578ec4783eea9b4211160b1ae4294e7870a5b4051407bb7402af5a55eda22923e37eaa63125302306092a864886f70d010915311604141708024f0edc1402414e0fc5bd63c4880fb1d62230313021300906052b0e03021a05000414c27fcdf829ce99d7e122a555934c1f80766fee450408e9542a4e8184b07702020800
      required:
        - did
        - eidasQec
    EidasQecResponse:
      title: EidasQecResponse
      type: object
      description: Response for a sucessful eIDAS keys set-up.
      properties:
        id:
          type: string
          description: DID of EIDAS key owner
          example: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
      example:
          id: did:key:zQ3shtxV1FrJfhqE1dvxYRcCknWNjHc3c5X1y3ZSoPDi2aur2
    Problem:
      description: A Problem Details object (RFC 7807)
      type: object
      properties:
        type:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the problem type. When dereferenced,
            it SHOULD provide human-readable documentation for the problem type.
          default: "about:blank"
        title:
          type: string
          description: |
            A short summary of the problem type.
          example: Internal Server Error
        status:
          type: integer
          format: int32
          description: |
            The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 400
          maximum: 600
          exclusiveMaximum: true
          example: 500
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the problem.
          example: Connection timeout
        instance:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
    SessionsRequest:
      title: Sessions Request
      description: Request for OAuth 2.0 JWT bearer assertion grant.
      type: object
      properties:
        grantType:
          description: 'OAuth 2.0 grant type. Must be set to "urn:ietf:params:oauth:grant-type:jwt-bearer"'
          type: string
          example: "urn:ietf:params:oauth:grant-type:jwt-bearer"
        assertion:
          type: string
          description: Self-signed JWT
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        scope:
          type: string
          description: Scope is used to define the authentication method.
          enum:
            - eidas profile user
            - eidas profile entity
          example: vidchain profile user
      required:
        - grantType
        - assertion
        - scope
    SessionsResponse:
      title: Sessions Response
      type: object
      properties:
        accessToken:
          description: Authentication JWT to access the API.
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        tokenType:
          description: 'Type of the authentication token. Supported type "bearer".'
          type: string
          example: Bearer
        expiresIn:
          description: JWT expiration in seconds.
          type: integer
          example: 900
        issuedAt:
          description: "Time of JWT issuance. Format: unix timestamp"
          type: string
          example: "1467841035013"
      description: Authentication JWT
  examples:
    BadRequest:
      value:
        title: Bad Request
        status: 400
        detail: Bad request
    Unauthorized:
      value:
        title: Unauthorized
        status: 401
        detail: Unauthorized
    Forbidden:
      value:
        title: Forbidden
        status: 403
        detail: Forbidden
    IssuerNotFound:
      value:
        title: Issuer Not Found
        status: 400
        detail: Issuer not found in the trusted apps registry.
    ExpiredToken:
      value:
        title: Token Expired
        status: 400
        detail: The token has expired.
    InternalError:
      value:
        title: Internal Server Error
        status: 500
        detail: |
          The server encountered an internal error and was unable to complete
          your request
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT